{% extends 'site/layout.html' %}
{% block title %}یونی بید | وضعیت پرداخت شما {% endblock %}
{% block content %}
<input type="hidden" id="pid" value="{{pid}}">
<div class="Package" id="app">
	<div class="container">
		<div class="product-quickview woocommerce">
			<div class="row">
				<h3 class="order_review_heading">وضعیت پرداخت</h3>
				<div class="woocommerce-checkout-review-order" id="order_review">
					<div class="table-responsive">
						<table class="shop_table woocommerce-checkout-review-order-table">

							<tfoot>
								{% raw %}
									<tr v-if="payment_status" class="order-total">
										<th>{{payment_message}}</th>
										<td><strong><span class="amount">شماره پیگیری :<span>{{payment_ref_id}}</span></span></strong> </td>
									</tr>

										<tr v-else  class="cart-subtotal">
											<th class="text-orange">{{payment_message}}</th>
											<td><strong><span class="amount text-orange">شماره پیگیری :<span>{{payment_ref_id}}</span></span></strong> </td>
										</tr>
									{% endraw %}
							</tfoot>

						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>

var app = new Vue({
	el: "#app",
	data:{
		payment_status:false,
		payment_message:"",
		payment_ref_id:"",
	}
});

pid = $('#pid').val()

function applyPayment() {
	pid = $('#pid').val();
	$.ajax({
		url: "/api/user/apply/payment/"+ pid,
		type: 'get',
		dataType: 'json',
		error:function(data){
			console.log(data);
			app.payment_status = false;
			app.payment_ref_id = data.responseJSON.token;
			app.payment_message = data.responseJSON.message;
		},
		success:function(data) {
			app.payment_status = true;
			app.payment_ref_id = data.responseJSON.token;
			app.payment_message = data.responseJSON.message;
		}
	});
}
applyPayment();

</script>
{% endblock scripts %}
