{% extends 'site/iframes/ilayout.html' %}
{% block title %} بردیتو | تایید پرداخت {% endblock %}
{% block content %}
<input type="hidden" id="auction_id" value="{{auction_id}}">
<input type="hidden" id="price" value="{{amount}}">
<div class="Package">
	<div class="container">
		<div class="product-quickview woocommerce">
			<div class="row">
				<h3 class="order_review_heading">تایید پرداخت</h3>
				<div class="woocommerce-checkout-review-order" id="order_review">
					<div class="table-responsive">
						<table class="shop_table woocommerce-checkout-review-order-table">
							<tfoot>
								<!--
								<tr class="order-total">
									<th>موجودی حساب شما</th>
									<td><strong><span class="amount"><span >{{current_user.credit}}</span> تومان </span></strong> </td>
								</tr> -->
								<tr class="order-total">
									<th>مبلغ پرداختی نهایی</th>
									<td><strong><span class="amount">{{amount}} تومان </span></strong> </td>
								</tr>

							</tfoot>
						</table>
					</div>
					<div class="woocommerce-checkout-payment" id="payment">
						<div class="form-row place-order">
							<form id="confirm" action="https://bpm.shaparak.ir/pgwchannel/startpay.mellat" method="post">
								<input type="hidden" name="RefId" id="RefId" value="{{ref_id}}">
								<input type="hidden" name="amount" id="Amount" value="{{amount}}">
								<input type="submit" value="تایید نهایی پرداخت و هدایت به درگاه بانک" class="button alt">
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
	var app = new Vue({
		data: {
			ref_id: null,
		},
	});

	$('#confirm').on('submit', function(event){
		event.preventDefault();
		
		$.getJSON("/confirm/payment/{{pid}}", function(data){
			app.ref_id = data['ref_id'];
			ondatareceive();
		});

	});


	function ondatareceive(){
		$('#confirm').submit();
	}

</script>

{% endblock scripts %}
