{% extends 'site/iframes/ilayout.html' %}
{% block title %} بید بازی | شرکت در حراجی {% endblock %}
{% block content %}
<input type="hidden" id="auction_id" value="{{auction_id}}">
<div class="Package">
	<div class="container">
		<div class="product-quickview woocommerce">
			<div class="row">
				<h3 class="order_review_heading">ثبت نام در حراجی</h3>
				<div class="woocommerce-checkout-review-order" id="order_review">
					<div class="table-responsive">
						<table class="shop_table woocommerce-checkout-review-order-table">
							<thead>
								<tr>
									<th class="product-name">بسته ها</th>
									<th class="product-total"> هزینه و تعداد پیشنهاد</th>
								</tr>
							</thead>
							<tbody data-bind="foreach:plans">
								<tr class="cart_item">
									<td class="product-name">
										<ul id="shipping_method" class="list-none">
											<li>
												<input type="radio" data-bind="attr:{id : title } ,click : applyPrice(id,price) " name="plan">
												<label data-bind="text: title,attr:{for: title}"></label>
											</li>
										</ul>
									</td>
									<td class="product-total">
										<span class="amount"><span data-bind="text:ToPersian(formatCurrency(price))"></span> تومان</span> با <span data-bind="text:ToPersian(max_offers)"></span> عدد پیشنهاد
									</td>
								</tr>
								<!-- ko text: triggerSelect() -->
								<!-- /ko -->
							</tbody>
							<tfoot>
								<tr class="cart-subtotal">
									<th>هزینه بسته انتخابی</th>
									<td><strong class="amount"><span id="selected_plan_price"></span>تومان</strong></td>
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">کسر موجودی</th>
									<td><strong class="amount text-orange">۰</strong></td>
								</tr>
								<tr class="order-total">
									<th>مبلغ پرداختی نهایی</th>
									<td><strong><span class="amount"><span id="total_plan_price"></span> تومان </span></strong> </td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="woocommerce-checkout-payment" id="payment">
						<ul class="payment_methods methods list-none">
							<li class="payment_method_bacs">
								<input type="radio" data-order_button_text="" value="bacs" name="payment_method" class="input-radio" id="payment_method_bacs" checked="checked">
								<label for="payment_method_bacs">پرداخت از بانک</label>
							</li>
							<li class="payment_method_cheque">
								<input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
								<label for="payment_method_cheque"> پرداخت از موجودی حساب  (<span data-bind="text:ToPersian(formatCurrency(credit))"></span>) </label>
							</li>
						</ul>
						<div class="form-row place-order">
							<input type="submit" value="تایید پرداختی" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/knockout.js')}}"></script>
<script>
var plan_id = 0;
var auction_id = $('#auction_id').val();
var method_id = 0;
var total_price = 0;

function applyPrice(id,price){
	$('#selected_plan_price').html(ToPersian(formatCurrency(price)));
	$('#total_plan_price').html(ToPersian(formatCurrency(price)));
	plan_id = id;
	total_price = price;
}

function MyViewModel() {
	var self = this;
	var plans = []
	self.plans = ko.observableArray([]);
	self.credit = {{current_user.credit}};
	$.getJSON( "/api/auction/get/plans/"+auction_id, function( data ) {
		$.each(data[0],function(key,val) {
			p = { id : val.id , title : val.plan.title , price : val.price , max_offers : val.max_offers };
			plans.push(p);
		})
		self.plans(plans);
	});
}
ko.applyBindings(new MyViewModel());

function triggerSelect() {
	$("input:radio[name=plan]:first").click();
}

$('#place_order').on('click',function(){

	if (total_price > {{current_user.credit}} && $("#payment_method_cheque").is(':checked') ){
		alert('مبلغ حساب شما برای پرداخت کافی نمیباشد. لطفا حساب خود را شارژ کنید');
		return;
	}
	$.ajax({
    url: "{{url_for('auctionuserparticipation')}}",
    type: 'post',
    data: {
				plan_id:plan_id,
				auction_id:$('#auction_id').val(),
				method_id:method_id
    },
    dataType: 'application/json',
    success: function (data) {
        alert('پرداخت شما با موفقیت انجام شد و در حراجی ثبت نام شدید');
				window.parent.location.reload();
    },
		error:function(data) {
			result = JSON.parse(data.responseText)
			alert(result.reason);
			window.parent.location.reload();
		}

});

});

</script>
{% endblock scripts %}
