{% extends 'site/iframes/ilayout.html' %}
{% block title %} بردیتو | شرکت در حراجی {% endblock %}
{% block content %}
<input type="hidden" id="auction_id" value="{{auction_id}}">
<input type="hidden" value="{{next}}" id="next">
<div class="Package">
	<div class="container">
		<div class="product-quickview woocommerce">
			<div class="row">
				<h3 class="order_review_heading">ثبت نام در حراجی</h3>
				<div class="woocommerce-checkout-review-order" id="order_review">
					<div class="table-responsive">
						<table class="shop_table woocommerce-checkout-review-order-table">
							<thead>
								<tr>
									<th class="product-name">بسته ها</th>
									<th class="product-total"> هزینه و تعداد پیشنهاد</th>
								</tr>
							</thead>
							<tbody data-bind="foreach:plans">
								<tr class="cart_item">
									<td class="product-name">
										<ul id="shipping_method" class="list-none">
											<li>
												<input type="radio" data-bind="attr:{id : plan.title } ,click : applyPrice(id,price),test" name="plan">
												<label data-bind="text: plan.title,attr:{for: plan.title}"></label>
											</li>
										</ul>
									</td>
									<td class="product-total">
										<span class="amount"><span data-bind="text:ToPersian(formatCurrency(price))"></span> تومان</span> با <span data-bind="text:ToPersian(max_offers)"></span> عدد پیشنهاد
									</td>
								</tr>
								<!-- ko text: triggerSelect() -->
								<!-- /ko -->
							</tbody>

							<tfoot>
								<tr class="cart-subtotal">
									<th>هزینه بسته انتخابی</th>
									<td><strong class="amount"><span id="selected_plan_price"></span>تومان</strong></td>
								</tr>

								<tr class="order-total">
									<th>موجودی حساب شما</th>
									<td><strong><span class="amount"><span data-bind="text:ToPersian(formatCurrency(credit))"></span> تومان </span></strong> </td>
								</tr>

								<tr class="cart-subtotal">
									<th class="text-orange">کسر موجودی</th>
									<td><strong class="amount text-orange" id="credit_fraction">۰</strong></td>
								</tr>

								<tr class="order-total">
									<th>مبلغ پرداختی نهایی</th>
									<td><strong><span class="amount"><span id="total_plan_price"></span> تومان </span></strong> </td>
								</tr>

							</tfoot>
						</table>
					</div>
					<div class="woocommerce-checkout-payment" id="payment">

						<ul class="payment_methods methods list-none" data-bind="foreach:payment_methods">
							<li class="payment_method_cheque">
								<input type="radio" data-order_button_text="" data-bind="click : select_method(id)" name="method" class="input-radio">
								<label data-bind="text: title,attr:{for: title}">(<span data-bind="text:ToPersian(formatCurrency(credit))"></span>) </label>
							</li>
							<!-- ko text: triggerSelect() -->
							<!-- /ko -->
						</ul>

						<div class="form-row place-order">
							<input type="submit" value="تایید پرداختی" id="place_order" name="woocommerce_checkout_place_order" class="button alt">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/knockout.js')}}"></script>
<script>
next = $('#next').val();
var auction_id = $('#auction_id').val();
var plan_id = ko.observable();
var payment_method_id = ko.observable();
var payment_methods = ko.observableArray([]);
var plans = ko.observableArray([]);
var price = ko.observable();
var amount = ko.observable();

function MyViewModel() {
	self = this;
	self.plan_id = ko.observable();
	self.payment_method_id = ko.observable();
	self.payment_methods = ko.observableArray([]);
	self.plans = ko.observableArray([]);
	self.price = ko.observable();
	self.amount = ko.observable();
	self.credit = '{{current_user.credit}}';
}
var avm = new MyViewModel();
ko.applyBindings(avm);

$.getJSON( "/api/auction/get/plans/"+auction_id, function( data ) {
		console.log(data);
		avm.plans(data.plans[0]);
		avm.payment_methods(data.methods[0])
	});

function applyPrice(id,selected_price){
	$('#selected_plan_price').html(ToPersian(formatCurrency(selected_price)));
	total_price = selected_price - avm.credit;
	if(total_price < 0){
		$('#total_plan_price').html(ToPersian(formatCurrency(0)));
	}
	else {
		$('#total_plan_price').html(ToPersian(formatCurrency(selected_price - avm.credit)));
	}
	$('#credit_fraction').html(ToPersian(formatCurrency(avm.credit - selected_price)));

	plan_id = id;
	price = selected_price;
}

function select_method(method_id) {
	payment_method_id = method_id;
}

function triggerSelect() {
	$("input:radio[name=plan]:first").click();
	$("input:radio[name=method]:first").click();
}

$('#place_order').on('click',function(){

	if (amount > avm.credit && $("#payment_method_cheque").is(':checked') ){
		alert('مبلغ حساب شما برای پرداخت کافی نمیباشد. لطفا حساب خود را شارژ کنید');
		return;
	}

	$.ajax({
    url: "{{url_for('auctionuserparticipation')}}",
    type: 'post',
    data: {
				plan_id:plan_id,
				auction_id:auction_id,
				method_id:payment_method_id,
				amount:price
    },
    dataType: 'json',
		error:function(data){
			console.log(data);
			alert(data.responseJSON.reason);
		},
		success:function(data) {
			console.log(data);
				alert(data.message)
				if(data.type=="redirect_to_bank"){
					window.parent.location = "/confirm/payment/"+data.pid;
					window.parent.reload();
				}
				else {
					window.parent.location.reload();
				}
    }
	});
});

</script>
{% endblock scripts %}
