{% extends 'site/iframes/ilayout.html' %}
{% block title %} بید بازی | شرکت در حراجی {% endblock %}
{% block content %}
<input type="hidden" id="auction" value="{{auction_id}}">
<div class="content-page">
  <div class="container">
    <div class="product-quickview detail-with-sidebar config-detail ">
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-12">
          <div class="product-extra-link2 rightList">
            <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-times" data-bind="text:auction_rate">ضریب</i></a>
            <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-users"></i><span  data-bind="text: participant_count"></span> از <span data-bind="text: max_members"></span></a>
          </div>
          <!-- End rightlist -->
          <div class="detail-gallery">
            <div class="mid">
              <img data-bind="attr:{src: active_image}" alt=""/>
            </div>
            <div class="gallery-control">
              <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>

              <div class="carousel">
                <ul data-bind="foreach: images">
                  <li><a href="#"><img data-bind="attr:{src: url}" alt=""/></a></li>
                </ul>
              </div>

              <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!-- End Gallery -->
          <div class="detail-without-sidebar">
            <div class="detail-social">
              <ul class="list-social-detail list-inline-block">
                <li><a href="#" class="soci-fa soc-tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                <li><a href="#" class="soci-fa soc-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class="soci-fa soc-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class="soci-fa soc-print"><i class="fa fa-print" aria-hidden="true"></i></a></li>
                <li>
                  <div class="more-social">
                    <a class="soci-fa add-link soc-add" href="#"><i aria-hidden="true" class="fa fa-plus"></i><span>7</span></a>
                    <ul class="list-social-share list-none">
                      <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i><span>Youtute</span></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a></li>
                      <li><a href="#"><i class="fa fa-google"></i><span>google</span></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
                      <li><a href="#"><i class="fa fa-flickr"></i><span>flickr</span></a></li>
                      <li><a href="#"><i class="fa fa-reddit"></i><span>reddit</span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-7 col-xs-12">
          <div class="detail-info">
            <h2 class="title-detail" data-bind="text: auction.title + ' '+auction.item.title"></h2>
            <div class="product-price">
              <!-- <a href="#" class="shopnow"><span>شرکت در حراجی</span></a> -->
              <div class="textboX">
                <div class="textboXX"><p id="auction_item_price"> قیمت محصول : <span data-bind="text:ToPersian(formatCurrency(auction.item.price))"></span> تومان <div> &nbsp  </div></p></div>
                <div class="upArrow"></div>
              </div>
              <div class="textboX">
                <div class="textboXX">
                  <p id="auction_register_price">شروع حراجی : <span data-bind="text: ToPersian(formatCurrency(auction.base_price))"></span> تومان
                  <div>  سقف حراجی : <span data-bind="text: ToPersian(formatCurrency(auction.max_price))"></span> تومان </p></div>
                </div>
                <div class="upArrow"></div>
              </div>
            </div>
            <div class="detail-extralink">
              <div class="list-member-bid" data-bind="foreach: people">
                <p class="item-Bid" data-bind="css: { 'YOU' : its_me  }"><img data-bind="attr:{src: avatar}"/>
                  <sd data-bind="text:name"></sd>
                    <span data-bind="text:row"></span>
                  </p>
              </div>
              <div class="alert alert-danger error_alert hide">
                <a href="#" class="close" aria-label="close">×</a>
                <div class="error_container"></div>
              </div>
              <div class="alert alert-success alert-dismissable success_alert hide">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <div class="success_container"></div>
              </div>
              <div class="product-extra-link2">
                <div class="last-Bid-user">
                  <p class="img-price-Bid"><img id="auction_current_winner_image"/></p>
                  <p class="price-Bid"><span id="auction_current_offer"></span> تومان</p>
                  <p class="name-price-Bid" id="auction_current_winner"></p>
                </div>
                <input type="hidden" id="set-time" value="0.3"/>
                <div id="countdown">
                  <div id='tiles' class="color-full"></div>
                  <div class="countdown-label" data-bind="text:now_date"></div>
                </div>

                {% if current_user.is_authenticated %}
                <a class="addcart-link" href="#" id="offer">پیشنهاد <div class="detail-qty border radius" id="offer_count" data-bind="text: offer_bid_count ? ToPersian(offer_bid_count) :ToPersian(0)"></div></a>
                {%  else %}
                <a class="addcart-link" href="/login"> ورود </a>
                {% endif %}
              </div>

              <div class="detail-countdowns"><span data-bind="text : before_start"></span>
                <span data-bind="text:auction_end_date"></span>
                <i aria-hidden="true" class="fa fa-clock-o"></i><span data-bind="text:auction_end_time"></span>
              </div>

            </div>
            <div class="detail-extralink mt-0">
              <div class="product-extra-link2">
                <a class="addcart-link2" href="#"><i class="fa fa-shopping-basket" aria-hidden="true" id="add_to_bag"></i> اضافه به سبد</a>
                <a class="wishlist-link2" href="#" id="like_auction"><i aria-hidden="true" class="fa fa-heart"></i></a>
                <a class="wishlist-link2 text-red" href="#"><i aria-hidden="true" class="fa fa-percent"></i><span id="discount"></span>تومان</a>
              </div>
            </div>
          </div>
          <!-- Detail Info -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript" src=" {{ url_for('static',filename='js/libs/owl.carousel.js')}} "></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/libs/jquery.jcarousellite.js')}} "></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/libs/jquery.elevatezoom.js')}} "></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js_config.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/knockout.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/persian-date.min.js')}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>

var auction_id = $('#auction').val();
var images_path = '../../static/images/products/';
var avatar_path = '../../static/images/avatars/';
var auction_deadline = 0;
var people = ko.observableArray([]);
var offer_bid_count = ko.observable();
var before_start_text = ko.observable();
var current_user_id = '{{current_user.id}}';
var target_date = ko.observable();
var time_left = ko.observable();
var time_difference = ko.observable();

function Person(name,avatar,its_me,row,price) {
    var self = this;
    self.name = ko.observable(name);
    self.avatar = ko.observable(avatar);
    self.its_me = ko.observable(its_me);
    self.row = ko.observable(row);
    self.offer_price = ko.observable(price);
}
$.getJSON( "/api/auction/"+auction_id+"/instantview", function( data ) {
  console.log(data);
  product = data.product[0]
  plan = data.plan[0]
  data = data.auction[0]

  var deadline = new Date(data.start_date).format("yyyy-M-d hh:mm:ss TT","UTC");
  auction_deadline= parseInt(data.remained_time) + time_difference;

  before_start_text = "تاریخ شروع حراجی : ";
  var event = new Date(Date.parse(deadline));
  var end_day = event.toLocaleDateString('fa-IR', {day:'numeric'});
  var end_weekday = event.toLocaleDateString('fa-IR', {weekday:'long'});
  var end_month = event.toLocaleDateString('fa-IR', {month:'long'});
  var end_date_time =  " ساعت  " + event.toLocaleTimeString('fa-IR');
  var end_date_date = end_weekday + " " + end_day +" "+ end_month;

  var event = new Date(Date.now());
  var now_day = event.toLocaleDateString('fa-IR', {day:'numeric'});
  var now_weekday = event.toLocaleDateString('fa-IR', {weekday:'long'});
  var now_month = event.toLocaleDateString('fa-IR', {month:'long'});
  var now_date_time = event.toLocaleTimeString('fa-IR');
  var now_date_date = now_weekday + " " + now_day +" "+ now_month;

  var participant_count = ToPersian(data.participants.length);
  var max_members = ToPersian(data.max_members);
  var images_temp = ClearifyNames(data.item.images);
  var images = [];

  $.each(product.items,function(key,item) {
    $.each(ClearifyNames(item.images),function(key1,val) {
      images.push({url:images_path+val.trim(),active:false});
    });
  });

  images[0].active=true;
  if(plan){
    offer_bid_count = plan.max_offers ;
  }
  else {
    offer_bid_count = 0;
  }

 var mvvm = function MyViewModel() {
      this.participant_count = participant_count;
      this.max_members = max_members;
      this.images = images;
      this.active_image = images[0].url;
      this.auction = data
      this.auction_title = data.title;
      this.auction_item_price = ToPersian(formatCurrency(data.item.price));
      this.auction_register_price = ToPersian(formatCurrency(data.base_price));
      this.people = people;
      this.auction_rate = ToPersian(data.ratio);
      this.auction_end_date = end_date_date;
      this.auction_end_time = end_date_time;
      this.now_date = now_date_date;
      this.before_start = before_start_text;
  }
  ko.applyBindings(mvvm);

  if($('.detail-gallery').length>0){
    $('.detail-gallery').each(function(){
      $(this).find(".carousel").jCarouselLite({
        btnNext: $(this).find(".gallery-control .next"),
        btnPrev: $(this).find(".gallery-control .prev"),
        speed: 800,
        visible:3,
      });
      //Elevate Zoom
      $(this).find('.mid img').elevateZoom({
        zoomType: "inner",
        cursor: "crosshair",
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 750
      });

      $(this).find(".carousel a").on('click',function(event) {
        event.preventDefault();
        $(this).parents('.detail-gallery').find(".carousel a").removeClass('active');
        $(this).addClass('active');
        $(this).parents('.detail-gallery').find(".mid img").attr("src", $(this).find('img').attr("src"));
        var z_url = $(this).parents('.detail-gallery').find('.mid img').attr('src');
        $('.zoomWindow').css('background-image','url("'+z_url+'")');
      });
    });
  }
});

var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

 socket.on('connect', function() {
		 console.log('connected');
     socket.emit('join', {'auction_id':auction_id});
 });

 var timer = setInterval(getStatus,1000);

 function getStatus() {
   socket.emit('status',{'auction_id':auction_id});
 }

 socket.on('auction_status',function(data) {

  var countdown = document.getElementById("tiles");

  getCountdown(data.remained);

  function getCountdown(seconds_left){

    if ( seconds_left >= 0 ) {

     if ( seconds_left  <  60 )
     {
       $( '#tiles' ).removeClass('color-full');
       $( '#tiles' ).addClass('color-half');
     }
     else {
       $( '#tiles' ).addClass('color-full');
       $( '#tiles' ).removeClass('color-half');
     }

     if ( seconds_left  < 10 )
      {
        $( '#tiles' ).removeClass('color-half');
        $( '#tiles' ).addClass('color-empty');
      }else {
        $( '#tiles' ).addClass('color-half');
        $( '#tiles' ).removeClass('color-empty');
      }

    days = pad( parseInt(seconds_left / 86400) );
    seconds_left = seconds_left % 86400;

    hours = pad( parseInt(seconds_left / 3600) );
    seconds_left = seconds_left % 3600;

    minutes = pad( parseInt(seconds_left / 60) );

    seconds = pad( parseInt( seconds_left % 60 ) );

    // format countdown string + set tag value
    countdown.innerHTML = "<span>" + hours + ":</span><span>" + minutes + ":</span><span>" + seconds + "</span>";
    }
  }
});

 function pad(n) {
   return (n < 10 ? '0' : '') + n;
 }

 socket.on('join', function(data) {
   console.log(data);
   time_left = data.deadline;
 });

 socket.on('update_view', function(data) {

   users = data.users[0];
   active_user = users[0];

    $.each(users,function(key,user){
      if(user.id =='{{current_user.id}}'){
        if(user.current_bids)
          $('#offer_count').html(ToPersian(formatCurrency(user.current_bids)));
          return;
      }
    });

    $('#auction_current_offer').html(ToPersian(formatCurrency(data.current_offer_price)));
    if(active_user){
      $('#auction_current_winner').html(active_user.username);
      $('#auction_current_winner_image').attr('src',avatar_path+ClearifyNames(active_user.avatar)[0])
    }
   if(users){
     rowIndex = 0;
     people([]);
     $.each(users,function(key,val){
       its_you = val.id == current_user_id ? true : false;
       name = val.first_name ? val.first_name +" "+ val.last_name : val.username ;
       avatar = val.avatar ? avatar_path + ClearifyNames(val.avatar)[0] : "#";
       row = ToPersian(++rowIndex);
       price = val.current_offer_price ? ToPersian(formatCurrency(val.current_offer_price)) : ToPersian(0);
       person = new Person(name,avatar,its_you,row,price);
       people.push(person);
     });
     people.valueHasMutated();
   }

 });

 socket.on('accepted', function(data) {
   users = data.users[0];
   winner_user = users[0];

   console.log(data);
   $.each(users,function(key,user){
     if(user.id =='{{current_user.id}}'){
       if(user.current_bids)
         $('#offer_count').html(ToPersian(formatCurrency(user.current_bids)));
     }
   });

   $('#auction_current_offer').html(ToPersian(formatCurrency(data.total_price)));
   if(winner_user){
     $('#auction_current_winner').html(data.users[0][0].username);
     $('#auction_current_winner_image').attr('src',data.users[0][0].avatar ? avatar_path+ClearifyNames(data.users[0][0].avatar)[0] : "#");
   }
   if(users){
     rowIndex = 0;
     people([]);
     $.each(data.users[0],function(key,val){
       its_you = val.id == current_user_id ? true : false;
       name = val.first_name ? val.first_name +" "+ val.last_name : val.username ;
       avatar = val.avatar ? avatar_path + ClearifyNames(val.avatar)[0] : "#";
       row = ++rowIndex;
       person = new Person(name,avatar,its_you,ToPersian(row));
       people.push(person);
     });
     people.valueHasMutated();
   }
 });

 socket.on('auction_done', function(data) {
    clearInterval(timer);
    if(data.success){
      $(".error_alert").addClass('hide');
      $(".success_alert").removeClass('hide');
      $(".success_container").html('حراجی این محصول به پایان رسیده است')
      $('#offer').html(data.winner[0].username);
      $('#discount').html(ToPersian(formatCurrency(data.discount)))
    }else {
      $(".error_alert").removeClass('hide');
      $(".error_container").html(data.reason);
    }

 });

 socket.on('failed', function(data) {
   $(".error_alert").removeClass('hide');
   $(".error_container").html(data.reason);
 });

 $("#offer").on("click", function(event) {
   socket.emit('bid', {'auction_id':auction_id});
 });

</script>

{% endblock scripts %}
