{% extends 'site/iframes/ilayout.html' %}
{% block title %} بید بازی | شرکت در حراجی {% endblock %}
{% block content %}
<input type="hidden" id="auction" value="{{auction_id}}">
<div class="content-page">
  <div class="container">
    <div class="product-quickview detail-with-sidebar config-detail ">
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-12">
          <div class="product-extra-link2 rightList">
            <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-times"></i>ضریب ۴</a>
            <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-users"></i>۲۲ از ۴۰</a>
          </div>
          <!-- End rightlist -->
          <div class="detail-gallery">
            <div class="mid">
              <img src="images/photos/homeware/3.jpg" alt=""/>
            </div>
            <div class="gallery-control">
              <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
              <div class="carousel">
                <ul>
                  <li><a href="#" class="active"><img src="images/photos/homeware/3.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="images/photos/homeware/2.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="images/photos/homeware/1.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="images/photos/homeware/2.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="images/photos/homeware/3.jpg" alt=""/></a></li>
                  <li><a href="#"><img src="images/photos/homeware/1.jpg" alt=""/></a></li>
                </ul>
              </div>
              <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <!-- End Gallery -->
          <div class="detail-without-sidebar">
            <div class="detail-social">
              <ul class="list-social-detail list-inline-block">
                <li><a href="#" class="soci-fa soc-tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                <li><a href="#" class="soci-fa soc-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#" class="soci-fa soc-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#" class="soci-fa soc-print"><i class="fa fa-print" aria-hidden="true"></i></a></li>
                <li>
                  <div class="more-social">
                    <a class="soci-fa add-link soc-add" href="#"><i aria-hidden="true" class="fa fa-plus"></i><span>7</span></a>
                    <ul class="list-social-share list-none">
                      <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i><span>Youtute</span></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a></li>
                      <li><a href="#"><i class="fa fa-google"></i><span>google</span></a></li>
                      <li><a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
                      <li><a href="#"><i class="fa fa-flickr"></i><span>flickr</span></a></li>
                      <li><a href="#"><i class="fa fa-reddit"></i><span>reddit</span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-7 col-xs-12">
          <div class="detail-info">
            <h2 class="title-detail">عنوان محصول حراجی شده</h2>
            <div class="product-price">
              <!-- <a href="#" class="shopnow"><span>شرکت در حراجی</span></a> -->
              <div class="textboX">
                <div class="textboXX"><p>قیمت محصول : ۶،۷۰۰،۰۰۰ تومان</p></div>
                <div class="upArrow"></div>
              </div>
              <div class="textboX">
                <div class="textboXX"><p>شروع حراجی : ۱،۳۰۰،۰۰۰ تومان</p></div>
                <div class="upArrow"></div>
              </div>
            </div>
            <div class="detail-extralink">
              <div class="list-member-bid">
                <p class="item-Bid"><img src="images/theme/005.png"/>احسان امینی<span>۱</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/004.png"/>امیرحسین امینی<span>۲</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/005.png"/>پوریا نصیری پور<span>۳</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/005.png"/>امید ابراهیمی<span>۴</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/004.png"/>کاوه رضایی<span>۵</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid YOU"><img src="images/theme/005.png"/>سید حسین حسینی<span>۶</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/004.png"/>سید مهدی رحمتی<span>۷</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/005.png"/>روزبه چشمی<span>۸</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
                <p class="item-Bid"><img src="images/theme/004.png"/>فرمانده<span>۹</span><b>۱،۵۶۷،۰۰۰ تومان</b></p>
              </div>
              <div class="product-extra-link2">
                <div class="last-Bid-user">
                  <p class="img-price-Bid"><img src="images/theme/005.png"/></p>
                  <p class="price-Bid">۱،۳۴۲،۰۰۰ تومان</p>
                  <p class="name-price-Bid">احسان امینی</p>
                </div>
                <input type="hidden" id="set-time" value="1"/>
                <div id="countdown">
                  <div id='tiles' class="color-full"></div>
                  <div class="countdown-label">دو شنبه ۱۳ فروردین ساعت ۱۴</div>
                </div>
                <a class="addcart-link" href="#">پیشنهاد <div class="detail-qty border radius">۱۲۲</div></a>
              </div>
              <div class="detail-countdowns"><span>تاریخ اتمام حراجی : </span>
                  سه شنبه ۷فروردین ۱۳۹۷
                <i aria-hidden="true" class="fa fa-clock-o"></i> ساعت: ۲۰:۲۵:۱۲
              </div>
            </div>
            <div class="detail-extralink mt-0">
              <div class="product-extra-link2">
                <a class="addcart-link2" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i> اضافه به سبد</a>
                <a class="wishlist-link2" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
                <a class="wishlist-link2 text-red" href="#"><i aria-hidden="true" class="fa fa-percent"></i>۲،۴۵۰،۰۰۰ تومان</a>
              </div>
            </div>
          </div>
          <!-- Detail Info -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

alert($('#auction').val())

var minutes = $('#set-time').val();

var target_date = new Date().getTime() + ((minutes * 70 ) * 1000); // set the countdown date
var time_limit = ((minutes * 70 ) * 1000);
//set actual timer
setTimeout(
function()
{
  alert( 'حراجی به پایان رسید!' );
}, time_limit );

var days, hours, minutes, seconds; // variables for time units

var countdown = document.getElementById("tiles"); // get tag element

getCountdown();

setInterval(function () { getCountdown(); }, 1000);

function getCountdown(){
  // find the amount of "seconds" between now and target
  var current_date = new Date().getTime();
  var seconds_left = (target_date - current_date) / 1000;

if ( seconds_left >= 0 ) {
console.log(time_limit);
 if ( (seconds_left * 1000 ) < ( time_limit / 1 ) )  {
   $( '#tiles' ).removeClass('color-full');
   $( '#tiles' ).addClass('color-half');

    }
  if ( (seconds_left * 1000 ) < ( time_limit / 6 ) )  {
    $( '#tiles' ).removeClass('color-half');
    $( '#tiles' ).addClass('color-empty');
  }

  days = pad( parseInt(seconds_left / 86400) );
  seconds_left = seconds_left % 86400;

  hours = pad( parseInt(seconds_left / 3600) );
  seconds_left = seconds_left % 3600;

  minutes = pad( parseInt(seconds_left / 60) );
  seconds = pad( parseInt( seconds_left % 60 ) );

  // format countdown string + set tag value
  countdown.innerHTML = "<span>" + hours + ":</span><span>" + minutes + ":</span><span>" + seconds + "</span>";
}
}
function pad(n) {
  return (n < 10 ? '0' : '') + n;
}
</script>
{% endblock scripts %}
