{% extends 'site/iframes/ilayout.html' %}
{% block title %} فعال سازی حساب کاربری{% endblock %}
{% block content %}
<div class="content-page">
	<div class="container" id="app">
		<div class="top-selling15">
				<div class="container">

					<div class="text-center content-404">
						<h2 class="title30 color">فعال سازی حساب کاربری</h2>
					</div>

				</div>
			</div>
	</div>
</div>


{% endblock %}
{% block scripts %}
{{ super() }}



<script>


	app = new Vue({

		el : "#app",

		data:{

		},
		methods:{


		},
		mounted: function(){

			

		},

		updated:function() {


		},

	});

</script>
{% endblock scripts %}
