Flask
Flask-WTF
Jinja2
Flask-DebugToolbar
sqlalchemy
flask-jwt-extended
wtforms
flask_classy
flask_sqlalchemy
flask_login
marshmallow
passlib
flask_restful
flask_security
flask_admin
psycopg2
MarkupSafe==0.23
itsdangerous==0.24
wsgiref==0.1.2
