{% extends 'site/layout.html' %}
{% block title %} بردیتو | حراجی محصول {% endblock %}
{% block content %}
<input type="hidden" id="auction" value="{{auction_id}}">
<div class="content-page">
	<div class="container">
		<div class="bread-crumb radius">
			<a href="/">خانه</a> <span data-bind="text: auction.title">نام محصول</span>
		</div>
		<!-- End Bread Crumb -->
		<div class="row">
			<div class="col-md-12">
				<div class="product-detail detail-with-sidebar config-detail border radius">

					<div>
						<div class="row">
							<div class="col-md-4 col-sm-12 col-xs-12">
								<div class="product-extra-link2 rightList">
									<a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-times" data-bind="text:ToPersian(auction.ratio)">ضریب</i></a>
			            <a class="wishlist-link" href="#"><i aria-hidden="true" class="fa fa-users"></i><span  data-bind="text: ToPersian(auction.participants.length)"></span> از <span data-bind="text: ToPersian(auction.max_members)"></span></a>
			          </div>
								<div class="detail-gallery">
									<div class="mid">
										<img data-bind="attr:{src: active_image}" alt=""/>
									</div>
									<div class="gallery-control">
										<a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
										<div class="carousel">
											<ul data-bind="foreach: images">
												<li><a href="#"><img data-bind="attr:{src: url}" alt=""/></a></li>
											</ul>
										</div>
										<a href="#" class="next"><i class="fa fa-angle-right"></i></a>
									</div>
								</div>
								<!-- End Gallery -->
								<div class="detail-without-sidebar">
									<div class="detail-social">
										<ul class="list-social-detail list-inline-block">
											<li><a href="#" class="soci-fa soc-tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
											<li><a href="#" class="soci-fa soc-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
											<li><a href="#" class="soci-fa soc-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
											<li><a href="#" class="soci-fa soc-print"><i class="fa fa-print" aria-hidden="true"></i></a></li>
											<li>
												<div class="more-social">
													<a class="soci-fa add-link soc-add" href="#"><i aria-hidden="true" class="fa fa-plus"></i><span>7</span></a>
													<ul class="list-social-share list-none">
														<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i><span>Youtute</span></a></li>
														<li><a href="#"><i class="fa fa-linkedin"></i><span>linkedin</span></a></li>
														<li><a href="#"><i class="fa fa-pinterest"></i><span>pinterest</span></a></li>
														<li><a href="#"><i class="fa fa-google"></i><span>google</span></a></li>
														<li><a href="#"><i class="fa fa-instagram"></i><span>instagram</span></a></li>
														<li><a href="#"><i class="fa fa-flickr"></i><span>flickr</span></a></li>
														<li><a href="#"><i class="fa fa-reddit"></i><span>reddit</span></a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-8 col-sm-12 col-xs-12">
								<div class="detail-info">
									<h2 class="title-detail" data-bind="text: auction.title"></h2>
									<div class="product-price">
										<!-- <a href="#" class="shopnow"><span>شرکت در حراجی</span></a> -->
										<div class="textboX">
											<div class="textboXX"><p> قیمت محصول : <span data-bind="text:ToPersian(formatCurrency(auction.item.price))"></span> تومان <div> &nbsp  </div></p></div>
											<div class="upArrow"></div>
										</div>
										<div class="textboX">
											<div class="textboXX">
												<p id="auction_register_price">شروع حراجی : <span data-bind="text: ToPersian(formatCurrency(auction.base_price))"></span> تومان
												<div>  سقف حراجی : <span data-bind="text: ToPersian(formatCurrency(auction.max_price))"></span> تومان </p></div>
											</div>
											<div class="upArrow"></div>
										</div>
									</div>
									<div class="detail-extralink">
										<div class="list-member-bid" data-bind="foreach: people">
											<p class="item-Bid" data-bind="css: { 'YOU' : its_me  }">
												<img data-bind="attr:{src: avatar}"/>
												<br class="resWd"/>
												<label data-bind="text:name"></label>
												<span data-bind="text:row"></span>
												<b data-bind="text:offer_price"></b>
											</p>
										</div>

										<div class="product-extra-link2 resWi">
											<div class="last-Bid-user">
												<p class="img-price-Bid"><img id="auction_current_winner_image"/></p>
												<p class="price-Bid"><span id="auction_current_offer"></span> تومان</p>
												<p class="name-price-Bid" id="auction_current_winner"></p>
											</div>
											<input type="hidden" id="set-time" value="1"/>
											<div id="countdown">
												<div id='tiles' class="color-full"></div>
												<div class="countdown-label" data-bind="text:now_date"></div>
											</div>
											<a class="addcart-link" href="#"  onclick="event.preventDefault();" id="offer">پیشنهاد <div class="detail-qty border radius" id="offer_count" data-bind="text: offer_bid_count ? ToPersian(offer_bid_count) : ToPersian(0)"></div></a>
										</div>

										<div class="alert alert-danger error_alert hide">
											<a href="#" class="close" aria-label="close">×</a>
											<div class="error_container"></div>
										</div>

										<div class="alert alert-success alert-dismissable success_alert hide">
											<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
											<div class="success_container"></div>
										</div>

										<div class="detail-countdowns">شروع حراجی : </span>
			                <span data-bind="text:auction_end_date"></span>
			                <i aria-hidden="true" class="fa fa-clock-o"></i><span data-bind="text:auction_end_time"></span>
			              </div>
									</div
									<div class="detail-extralink mt-0">
										<div class="product-extra-link2">
											<a class="addcart-link2" href="#"><i class="fa fa-shopping-basket" aria-hidden="true" id="add_to_bag"><input type="hidden" data-bind="attr:{value:auction.item.id}"></i> اضافه به سبد</a>
											<a class="wishlist-link2" href="#"><i aria-hidden="true" class="fa fa-heart"></i></a>
											<a class="wishlist-link2 text-red" href="#"><i aria-hidden="true" class="fa fa-percent"></i><span id="discount"></span> تومان</a>
										</div>
									</div>
								</div>
								<!-- Detail Info -->
							</div>
						</div>
					</div>

					<div class="tab-detal hoz-tab-detail">
						<div class="hoz-tab-title">
							<ul>
								<li class="active"><a href="#hoz1" data-toggle="tab">اطلاعات</a></li>
								<li><a href="#hoz2" data-toggle="tab">مشخصات فنی</a></li>
								<li><a href="#hoz3" data-toggle="tab">مشخصات</a></li>
								<!-- <li><a href="#hoz4" data-toggle="tab">مشخصات</a></li>
								<li><a href="#hoz5" data-toggle="tab">مشخصات</a></li>
								<li><a href="#hoz6" data-toggle="tab">مشخصات</a></li> -->
							</ul>
						</div>
						<div class="tab-content">
							<div id="hoz1" class="tab-pane active">
								<div class="hoz-tab-content">
									<div class="content-detail-tab">
										<div class="detail-tab-info">
											<p class="desc" data-bind="text:auction.description"> توضیحات محصول
												<ul>
													<li data-bind="text:auction.item.product.desciption">توضیحات آیتم محصول</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="hoz2" class="tab-pane">
								<div class="hoz-tab-content">
									<div class="content-detail-tab">
										<div class="detail-tab-info">
											<p class="desc" data-bind="text:auction.description"> توضیحات محصول
												<ul>
													<li data-bind="text:auction.item.product.desciption">توضیحات آیتم محصول</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="hoz3" class="tab-pane">
								<div class="hoz-tab-content">
									<div class="content-detail-tab">
										<div class="detail-tab-info">
											<p class="desc" data-bind="text:auction.description"> توضیحات محصول
												<ul>
													<li data-bind="text:auction.item.product.desciption">توضیحات آیتم محصول</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- End Main Detail -->
				<div class="sidebar">
					<div class="list-detail-adv">
						<div class="detail-adv">
							<a href="#"><img class="radius wobble-horizontal" alt="" src="/static/images/theme/pro-adv1.jpg"></a>
						</div>
						<div class="detail-adv">
							<a href="#"><img class="radius wobble-horizontal" alt="" src="/static/images/theme/pro-adv2.jpg"></a>
						</div>
						<div class="detail-adv">
							<a href="#"><img class="radius wobble-horizontal" alt="" src="/static/images/theme/pro-adv3.jpg"></a>
						</div>
					</div>
				</div>
				<!-- End Product Related -->
			</div>
		</div>

	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

<script type="text/javascript" src=" {{ url_for('static',filename='js/libs/owl.carousel.js')}} "></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/libs/jquery.jcarousellite.js')}} "></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/libs/jquery.elevatezoom.js')}} "></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/js_config.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/knockout.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/vue.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/axios.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/libs/persian-date.min.js')}}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>

var auction_id = $('#auction').val();
var people = ko.observableArray([]);
var offer_bid_count = ko.observable();
var current_user_id = '{{current_user.id}}';
var target_date = ko.observable();
var time_left = ko.observable();
var time_difference = ko.observable();
var active_image = ko.observable();
var images = ko.observableArray([]);
var now_date = ko.observable();
var auction_end_date = ko.observable();
var auction_end_time = ko.observable();
var auction = ko.observable();



function Person(name,avatar,its_me,row,price) {
    var self = this;
    self.name = ko.observable(name);
    self.avatar = ko.observable(avatar);
    self.its_me = ko.observable(its_me);
    self.row = ko.observable(row);
    self.offer_price = ko.observable(price);
}

$.getJSON( "/api/auction/"+auction_id+"/instantview", function( data ) {

  product = data.product[0]
  plan = data.plan[0]
  current_auction = data.auction[0]

  var full_date = null
  var full_hour = null

  if(isSafari()){
    var deadline = new Date(current_auction.start_date).format("yyyy/M/d HH:mm:ss","UTC");
    full_date = new persianDate(new Date(deadline)).format("dddd DD MMMM YYYY"); // "شنبه, فروردین ۱۲ ۱۳۹۶, ۵:۵۴:۱۱ ب ظ"
    full_hour = new persianDate(new Date(deadline)).format("HH:mm:ss a"); // "شنبه, فروردین ۱۲ ۱۳۹۶, ۵:۵۴:۱۱ ب ظ"
  }else{
    full_date = new persianDate(new Date(current_auction.remained_time)).format("dddd DD MMMM YYYY"); // "شنبه, فروردین ۱۲ ۱۳۹۶, ۵:۵۴:۱۱ ب ظ"
    full_hour = new persianDate(new Date(current_auction.remained_time)).format("HH:mm:ss a"); // "شنبه, فروردین ۱۲ ۱۳۹۶, ۵:۵۴:۱۱ ب ظ"
  }

  var end_date_date = full_date;
  var end_date_time =  " ساعت  " + full_hour;
  var now_date_date = new persianDate(new Date()).format("dddd DD MMMM YYYY");

  var images_temp = ClearifyNames(current_auction.item.images);
  var imgs = [];
  $.each(product.items,function(key,item) {
    $.each(ClearifyNames(item.images),function(key1,val) {
      imgs.push({url:images_path+val.trim(),active:false});
    });
  });

  imgs[0].active=true;
  if(plan){
    offer_bid_count = plan.max_offers ;
  }
  else {
    offer_bid_count = 0;
  }
  var item_id = current_auction.item.id;


	auction = current_auction ;
	auction_end_date(end_date_date);
	auction_end_time(end_date_time);
	now_date(now_date_date);
	images(imgs);
	active_image(imgs[0].url);

  ko.applyBindings();

  if($('.detail-gallery').length>0){
    $('.detail-gallery').each(function(){
      $(this).find(".carousel").jCarouselLite({
        btnNext: $(this).find(".gallery-control .next"),
        btnPrev: $(this).find(".gallery-control .prev"),
        speed: 800,
        visible:3,
      });
      //Elevate Zoom
      $(this).find('.mid img').elevateZoom({
        zoomType: "inner",
        cursor: "crosshair",
        zoomWindowFadeIn: 500,
        zoomWindowFadeOut: 750
      });

      $(this).find(".carousel a").on('click',function(event) {
        event.preventDefault();
        $(this).parents('.detail-gallery').find(".carousel a").removeClass('active');
        $(this).addClass('active');
        $(this).parents('.detail-gallery').find(".mid img").attr("src", $(this).find('img').attr("src"));
        var z_url = $(this).parents('.detail-gallery').find('.mid img').attr('src');
        $('.zoomWindow').css('background-image','url("'+z_url+'")');
      });
    });
  }
});

var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

 socket.on('connect', function() {
		 console.log('connected');
     socket.emit('join', {'auction_id':auction_id});
 });

 var timer = setInterval(getStatus,5000);
 var countdownTimer = null

 function getStatus() {
	 console.log('syncing... : '+ "{{current_user.id}}" );
   socket.emit('status',{'auction_id':auction_id});
 }
 var start_miliseconds = 0;

 socket.on('auction_status',function(data) {
   start_miliseconds = data.remained * 1000;
 });

 var days, hours, minutes, seconds; // variables for time units

 var countdown = document.getElementById("tiles"); // get tag element

 function BesideOfWS(){
   updateTimer(start_miliseconds);
   countdownTimer = setTimeout(function() {
     start_miliseconds -= 100;
    BesideOfWS();
   }, 100);
 }

 BesideOfWS();
 function updateTimer(millisecond){

     if ( millisecond  >= 0) {

         if ( millisecond  < (60 * 1000) && millisecond  > (10 * 1000) ) {
             $('#tiles').removeClass('color-full');
             $('#tiles').addClass('color-half');
         } else{
  					 $('#tiles').addClass('color-full');
  					 $('#tiles').removeClass('color-half');
  				}
				 if ( millisecond  < (10 * 1000) ) {
             $('#tiles').removeClass('color-half');
             $('#tiles').addClass('color-empty');
         }
				 else{
 					 $('#tiles').addClass('color-full');
 					 $('#tiles').removeClass('color-empty');
 				 }

         var hours = parseInt(millisecond / (3600*1000));
         var left_millisecond = millisecond - (hours * 3600*1000);

         var minutes = parseInt(left_millisecond / (60*1000));
         var left_millisecond = left_millisecond - (minutes * 60*1000);

         var seconds = parseInt(left_millisecond / 1000);
         var left_millisecond = left_millisecond - (seconds*1000);

         if(left_millisecond < 10)
           left_millisecond = '00'+left_millisecond;
         else if(left_millisecond < 100)
           left_millisecond = '0'+left_millisecond;

         // format countdown string + set tag value
         countdown.innerHTML = "<span>" + pad(hours) + ":</span><span>" + pad(minutes) + ":</span><span>" + pad(seconds) + ":</span><span>" + left_millisecond + "</span>";
     }
 }

 function pad(n) {
   return (n < 10 ? '0' : '') + n;
 }

 socket.on('join', function(data) {
   console.log(data);
   start_miliseconds = data.deadline * 1000;
	 getStatus();
 });

 socket.on('update_view', function(data) {

   users = data.users[0];
   active_user = users[0];

    $.each(users,function(key,user){
      if(user.id =='{{current_user.id}}'){
        if(user.current_bids)
          $('#offer_count').html(ToPersian(formatCurrency(user.current_bids)));
          return;
      }
    });

    $('#auction_current_offer').html(ToPersian(formatCurrency(data.current_offer_price)));
    if(active_user){
      $('#auction_current_winner').html(active_user.username);
      $('#auction_current_winner_image').attr('src',avatar_path+ClearifyNames(active_user.avatar)[0])
    }
   if(users){
		 console.log(users);
     rowIndex = 0;
     people([]);
     $.each(users,function(key,val){
       its_you = val.id == current_user_id ? true : false;
       name = val.username ;
       avatar = val.avatar ? avatar_path + ClearifyNames(val.avatar)[0] : "#";
       row = ToPersian(++rowIndex);
       price = ToPersian(formatCurrency(val.current_offer_price)); //? ToPersian(formatCurrency(val.current_offer_price)) : ToPersian(0);
       person = new Person(name,avatar,its_you,row,price);
       people.push(person);
     });
     people.valueHasMutated();
   }

 });

 socket.on('accepted', function(data) {
   users = data.users[0];
   winner_user = users[0];

   console.log(data);
   $.each(users,function(key,user){
     if(user.id =='{{current_user.id}}'){
       if(user.current_bids)
         $('#offer_count').html(ToPersian(formatCurrency(user.current_bids)));
     }
   });

   $('#auction_current_offer').html(ToPersian(formatCurrency(data.total_price)));
   if(winner_user){
     $('#auction_current_winner').html(data.users[0][0].username);
     $('#auction_current_winner_image').attr('src',data.users[0][0].avatar ? avatar_path+ClearifyNames(data.users[0][0].avatar)[0] : "#");
   }
   if(users){
     rowIndex = 0;
     people([]);
     $.each(data.users[0],function(key,val){
       its_you = val.id == current_user_id ? true : false;
       name = val.username ;
       avatar = val.avatar ? avatar_path + ClearifyNames(val.avatar)[0] : "#";
			 row = ToPersian(++rowIndex);
			 price = ToPersian(formatCurrency(val.current_offer_price)); //? ToPersian(formatCurrency(val.current_offer_price)) : ToPersian(0);
       person = new Person(name,avatar,its_you,row,price);
       people.push(person);
     });
     people.valueHasMutated();
   }
   getStatus();
 });

 socket.on('auction_done', function(data) {
    clearInterval(timer);
    clearInterval(countdownTimer);
    countdown.innerHTML = "<span>" + pad(0) + ":</span><span>" + pad(0) + ":</span><span>" + pad(0) + ":</span><span>" + pad(0) + "</span>";
    if(data.success){
      $(".error_alert").addClass('hide');
      $(".success_alert").removeClass('hide');
      $(".success_container").html('حراجی این محصول به پایان رسیده است')
      $('#offer').html(data.winner[0].username);
      $('#discount').html(ToPersian(formatCurrency(data.discount)))
    }else {
      $(".error_alert").removeClass('hide');
      $(".error_container").html(data.reason);
    }

 });

 socket.on('failed', function(data) {
   $(".error_alert").removeClass('hide');
   $(".error_container").html(data.reason);
 });

 $("#offer").on("click", function(event) {
   socket.emit('bid', {'auction_id':auction_id});
 });


 $(document).on('click','.addcart-link2',function(event) {
  event.preventDefault();

 	self = $(this);
 	item_id = self.find('input').val();

 	var data = JSON.stringify({
   	"item_id": item_id,
 		"total":1
 	});

 	var xhr = new XMLHttpRequest();
 	xhr.withCredentials = true;

 	xhr.open("POST", "{{url_for('usercartorder')}}");
 	xhr.setRequestHeader("Content-Type", "application/json");
 	xhr.setRequestHeader("Cache-Control", "no-cache");
 	xhr.send(data);
 	xhr.onreadystatechange = function (oEvent) {
     if (xhr.readyState === 4) {
 				data = JSON.parse(xhr.responseText);
         if (xhr.status === 200) {
 					carts = []
 			    $.each(data,function(key,val) {
 						if(val[0])
 				      carts.push(val[0]);
 			    });
 					alert('محصول مورد نظر شما به سبد خرید اضافه شد')
         } else {
            alert(data.reason)
         }
     	}
 		};
 	});
axios.post("{{url_for('userauctionview')}}", {
  "aid": '{{auction_id}}'
})
	.then((response) => {
		console.log(response);
	})
	.catch((respones)=>{
		console.error(response);
	});
</script>

{% endblock scripts %}
