{% extends 'site/layout.html' %}
{% block title %} بردیتو | سبد خرید  {% endblock %}
{% block content %}
<div class="content-page woocommerce">
	<div class="container">
		<div class="cart-content-page">
			<h2 class="title-shop-page">سبد خرید من</h2>
			<form method="post">
				<div class="table-responsive">
					<table cellspacing="0" class="shop_table cart table">
						<thead>
							<tr>
								<th class="product-remove">&nbsp;</th>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">محصولات</th>
								<th class="product-price">قیمت</th>
								<th class="product-quantity">تعداد</th>
								<th class="product-subtotal">کل</th>
							</tr>
						</thead>

						<tbody data-bind="foreach:mycart">
							<tr class="cart_item">
								<td class="product-remove">
									<a class="remove" href="#"><input type="hidden" data-bind="attr:{value:item.id}"><i class="fa fa-times"></i></a>
								</td>
								<td class="product-thumbnail">
									<a href="#"><img  data-bind="attr:{src: product_image_path + ClearifyNames(item.images)[0] }" /></a>
								</td>
								<td class="product-name">
									<a href="#" data-bind="text:item.product.title+' '+item.title">f</a>
								</td>
								<td class="product-price">
									<span class="amount" data-bind="text:ToPersian(formatCurrency(item.price - item.discount))"></span> تومان
								</td>
								<td class="product-quantity">
									<div class="detail-qty border radius">
										<a href="#" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<span class="qty-val" data-bind="text:total"></span>
										<a href="#" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
									</div>
								</td>
								<td class="product-subtotal">
									<span class="amount">۴،۰۰۰،۰۰۰ تومان</span>
								</td>
							</tr>
							<!-- ko text: triggerUpDownCart() -->
							<!-- /ko -->

						</tbody>
						<tr>
							<td class="actions" colspan="6">
								<div class="coupon">
									<label for="coupon_code">کد تخفیف: </label>
									<input type="text" placeholder="شماره کد" value="" id="coupon_code" class="input-text" name="coupon_code">
									<input type="submit" value="درخواست" name="apply_coupon" class="button">
								</div>
								<input type="submit" value="به روزرسانی سبد" name="update_cart" class="button">
							</td>
						</tr>
					</table>
				</div>
			</form>

			<div class="cart-collaterals">
				<div class="cart_totals ">
					<h2>مجموع پرداختی</h2>
					<div class="table-responsive">
						<table cellspacing="0" class="table">
							<tbody>
								<tr class="cart-subtotal">
									<th>کل مبلغ سفارش</th>
									<td><strong class="amount">۴،۹۰۰،۰۰۰ تومان</strong></td>
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">تخفیف داده شده (کد تخفیف)</th>
									<td><strong class="amount text-orange">۴۰،۰۰۰ تومان</strong></td>
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">تخفیف داده شده (محصول)</th>
									<td><strong class="amount text-orange">۲،۰۰۰،۰۰۰ تومان</strong></td>
								</tr>
								<tr class="order-total">
									<th>مبلغ پرداختی نهایی</th>
									<td><strong><span class="amount">۲،۹۰۰،۰۰۰ تومان</span></strong> </td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="wc-proceed-to-checkout">
						<a class="checkout-button button alt wc-forward" href="checkout.html">مرحله بعد تایید نهایی</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

ko.applyBindings();
//
// $.getJSON("{{url_for('usercartorder')}}", function(data){
// 	function cartViewModel(){
// 		self = this;
// 		self.ordersInformation = ko.observable();
// 		self.ordersInformation(data);
// 		console.log(data);
// 	}
// 	ko.applyBindings(new cartViewModel());
// });

</script>

{% endblock scripts %}
