{% extends 'site/layout.html' %}
{% block title %} بردیتو | سبد خرید  {% endblock %}
{% block content %}
<div id="app" class="content-page woocommerce">
	<div class="container">
		<div class="cart-content-page">
			<h2 class="title-shop-page">سبد خرید من</h2>
			<form method="post">
				<div class="table-responsive">
					<table cellspacing="0" class="shop_table cart table">
						<thead>
							<tr>
								<th class="product-remove">&nbsp;</th>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">محصولات</th>
								<th class="product-price">قیمت</th>
								<th class="product-quantity">تعداد</th>
								<th class="product-subtotal">کل</th>
							</tr>
						</thead>

						<tbody data-bind="foreach:mycart">
							<tr class="cart_item">
								<td class="product-remove">
									<a class="remove" href="#"><input type="hidden" data-bind="attr:{value:item.id}"><i class="fa fa-times"></i></a>
								</td>
								<td class="product-thumbnail">
									<a href="#"><img  data-bind="attr:{src: product_image_path + ClearifyNames(item.images)[0] }" /></a>
								</td>
								<td class="product-name">
									<a href="#" data-bind="text:item.product.title+' '+item.title">f</a>
								</td>
								<td class="product-price">
									<span class="amount" data-bind="text:ToPersian(formatCurrency(item.price - item.discount))"></span> تومان
								</td>
								<td class="product-quantity">
									<div class="detail-qty border radius">
										<a href="#" id="caret_up" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<span class="" data-bind="text:total"></span>
										<a href="#" id="caret_down" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
									</div>
								</td>
								<td class="product-subtotal">
									<span class="amount" data-bind="text: ToPersian(formatCurrency((item.price - item.discount) * total))" >۴،۰۰۰،۰۰۰ تومان</span>
								</td>
							</tr>
							<!-- ko text: triggerUpDownCart() -->
							<!-- /ko -->

						</tbody>
						<tr>
							<td class="actions" colspan="6">
								<div class="coupon">
									<label for="coupon_code">کد تخفیف: </label>
									<input type="text" placeholder="کد ۵ حرفی" value="" id="coupon_code" class="input-text" name="coupon_code">
									<input type="submit" value="درخواست" name="apply_coupon" class="button">
								</div>
								<input type="submit" value="به روزرسانی سبد" name="update_cart" class="button">
							</td>
						</tr>
					</table>
				</div>
			</form>

			<div class="cart-collaterals">
				<div class="cart_totals ">
					<h2>مجموع پرداختی</h2>
					<div class="table-responsive">
						<table cellspacing="0" class="table">
							<tbody>
								<tr class="cart-subtotal">
									<th>کل مبلغ سفارش</th>
									{%raw%}
									<td><strong class="amount">{{toPersian(total_items_price)}} تومان</strong></td>
									{%endraw%}
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">تخفیف داده شده (کد تخفیف)</th>
									{%raw%}
									<td><strong class="amount text-orange">{{toPersian(invitation_discount)}} تومان</strong></td>
									{%endraw%}
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">تخفیف داده شده (محصول)</th>
									{%raw%}
									<td><strong class="amount text-orange">{{toPersian(items_discount)}} تومان</strong></td>
									{%endraw%}
								</tr>
								<tr class="order-total">
									<th>مبلغ پرداختی نهایی</th>
									{%raw%}
									<td><strong><span class="amount">{{toPersian(final_price)}} تومان</span></strong> </td>
									{%endraw%}
								</tr>
							</tbody>
						</table>
					</div>
					<div class="wc-proceed-to-checkout">
						<!-- <a class="checkout-button button alt wc-forward" href="checkout.html">مرحله بعد تایید نهایی</a> -->
						<form id="confirm" action="{{url_for('checkout')}}">
							<input type="submit" data-value="Place order" value="پرداخت و تایید نهایی" id="place_order"  class="button alt">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var app = new Vue({

  el: '#app',

  data:{
    user_orders: [],
    user: "{{current_user.id}}",
    invitation_discount: 0,
    items_discount: 0,
	total_items_price: 0,
  },

  computed: {
    final_price: function(){
      return parseInt(this.total_items_price)  - parseInt(this.invitation_discount) - parseInt(this.items_discount);
	}
  },

  methods:{
    toPersian: function(data){
      return ToPersian(formatCurrency(data));
	}
  },

  created: function(){
   	self = this;
    axios.get("{{url_for('usercartorder')}}")
      .then(function (response) {
          self.user_orders = response.data;
          response.data.forEach(order => {
			self.total_items_price += parseInt(order[0].total_cost);
			console.log(order[0]);
            self.items_discount += parseInt(order[0].item.discount)*parseInt(order[0].total);
        });
      })
      .catch(function (error) {
        console.error(error);
    });
  }

});




ko.applyBindings();
$(document).on('click','.remove',function(e) {
	e.preventDefault();
	item_id = $(this).find('input').val();

	var data = JSON.stringify({
		"item_id": item_id
	});

	var xhr = new XMLHttpRequest();
	xhr.withCredentials = true;

	xhr.open("post", "{{url_for('usercartorderdelete')}}");
	xhr.setRequestHeader("Content-Type", "application/json");
	xhr.setRequestHeader("Cache-Control", "no-cache");
	xhr.send(data);
	xhr.onreadystatechange = function (oEvent) {
		if (xhr.readyState === 4) {
				data = JSON.parse(xhr.responseText);
				if (xhr.status === 200) {
					carts = []
					mycart([])
					$.each(data,function(key,val) {
						if(val[0])
							 carts.push(val[0]);
					});
					console.log(carts);
					mycart(carts);
					total_carts(ToPersian(carts.length));
					alert('محصول مورد نظر از سبد خرید حذف شد')
				} else {
					 alert(data.reason)
				}
			}
		};
});

// $('#caret_up').click(function(event){

// })

</script>

{% endblock scripts %}
