{% extends 'site/layout.html' %}
{% block title %} بردیتو | سبد خرید  {% endblock %}
{% block content %}
<div id="app" class="content-page woocommerce">
	<div class="container">
		<div class="cart-content-page">
			<h2 class="title-shop-page">سبد خرید من</h2>
			<form method="POST" action="{{url_for('usercartupdate')}}">
				<div class="table-responsive">
					<table cellspacing="0" class="shop_table cart table">
						<thead>
							<tr>
								<th class="product-remove">&nbsp;</th>
								<th class="product-thumbnail">&nbsp;</th>
								<th class="product-name">محصولات</th>
								<th class="product-price">قیمت</th>
								<th class="product-quantity">تعداد</th>
								<th class="product-subtotal">کل</th>
							</tr>
						</thead>

						<tbody v-for="order in user_orders">
							<tr class="cart_item">
								<td class="product-remove">
									<input name="order[0].id" type="hidden" v-bind:vlaue="quantities[order[0].id].current_quantity">
									<a @click="removeOrder(order[0].id)" class="remove" ><i class="fa fa-times"></i></a>
								</td><input name="item_id" type="hidden" v-bind:value="order[0].item.id">
								<td class="product-thumbnail">
									<a href="#"><img  v-bind:src="productThumbnail(order)" /></a>
								</td>
								<td class="product-name">
									{%raw%}
									<a href="#" >{{getProductTitle(order)}}</a>
									{%endraw%}
								</td>
								<td class="product-price">
									{%raw%}
									<span class="amount">{{toPersian(convertToCurrency((order[0].item.price - order[0].item.discount) * order[0].total))}}</span> تومان
									{%endraw%}
								</td>
								<td class="product-quantity">
									<div class="detail-qty border radius">
										{%raw%}
										<a @click="caret_decrease(order)" id="caret_up" class="qty-down"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
										<span class="">{{quantities[order[0].id].current_quantity}}</span>
										<a @click="caret_increase(order)" id="caret_down" class="qty-up"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
										{%endraw%}
									</div>
								</td>
								<td class="product-subtotal">
									{%raw%}
									<span class="amount">{{toPersian(convertToCurrency((order[0].item.price - order[0].item.discount) * quantities[order[0].id].current_quantity))}}</span> تومان
									{%endraw%}
								</td>
							</tr>
							<!-- ko text: triggerUpDownCart() -->
							<!-- /ko -->

						</tbody>
						<tr>
							<td class="actions" colspan="6">
								<div class="coupon">
									<label for="coupon_code">کد تخفیف: </label>
									<input v-model="coupon" type="text" placeholder="کد ۵ حرفی" value="" id="coupon_code" class="input-text" name="coupon_code">
									<input @click="handleCoupon" type="button" value="درخواست" name="apply_coupon" class="button">
								</div>
								<input type="submit" value="به روزرسانی سبد" name="update_cart" class="button">
							</td>
						</tr>
					</table>
				</div>
			</form>

			<div class="cart-collaterals">
				<div class="cart_totals ">
					<h2>مجموع پرداختی</h2>
					<div class="table-responsive">
						<table cellspacing="0" class="table">
							<tbody>
								<tr class="cart-subtotal">
									<th>کل مبلغ سفارش</th>
									{%raw%}
									<td><strong class="amount">{{toPersian(total_items_price)}} تومان</strong></td>
									{%endraw%}
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">تخفیف داده شده (کد تخفیف)</th>
									{%raw%}
									<td><strong class="amount text-orange">{{toPersian(invitation_discount)}} تومان</strong></td>
									{%endraw%}
								</tr>
								<tr class="cart-subtotal">
									<th class="text-orange">تخفیف داده شده (محصول)</th>
									{%raw%}
									<td><strong class="amount text-orange">{{toPersian(items_discount)}} تومان</strong></td>
									{%endraw%}
								</tr>
								<tr class="order-total">
									<th>مبلغ پرداختی نهایی</th>
									{%raw%}
									<td><strong><span class="amount">{{toPersian(final_price)}} تومان</span></strong> </td>
									{%endraw%}
								</tr>
							</tbody>
						</table>
					</div>
					<div class="wc-proceed-to-checkout">
						<!-- <a class="checkout-button button alt wc-forward" href="checkout.html">مرحله بعد تایید نهایی</a> -->
						<form id="confirm" action="{{url_for('checkout')}}">
							<input type="submit" data-value="Place order" value="پرداخت و تایید نهایی" id="place_order"  class="button alt">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var app = new Vue({

  el: '#app',

  data:{
    user_orders: [],
    user: "{{current_user.id}}",
    invitation_discount: 0,
    items_discount: 0,
	total_items_price: 0,
	quantities: {},
	coupon: null
  },

  computed: {
    final_price: function(){
      return parseInt(this.total_items_price)  - parseInt(this.invitation_discount) - parseInt(this.items_discount);
	}
  },

  methods:{
	
	handleCoupon: function(){
		var self = this;
		axios.post("{{url_for('usercouponapply')}}", {
			"coupon": self.coupon
		})
		.then((response) => {
			location.reload();
		})
		.catch((response) => {
			console.error(response);
		});

	},
	
	removeOrder: function(order_id){
		var self = this;
		axios.post("{{url_for('usercartorderdelete')}}", {
		"order_id": order_id
		})
		.then((response) => {
			location.reload();
		})
		.catch((response) => {
			console.error(response);
		});
	},
	convertToCurrency: function(number){
		return formatCurrency(number);
	},

    toPersian: function(data){
      return ToPersian(data);
	},
	caret_decrease: function(order){
		if (parseInt(this.quantities[order[0].id].current_quantity) - 1 > 0){
			this.quantities[order[0].id].current_quantity = parseInt(this.quantities[order[0].id].current_quantity) - 1;
		}
	},
	caret_increase: function(order){
		if (parseInt( this.quantities[order[0].id].current_quantity ) < parseInt(this.quantities[order[0].id].max_available_quantity)){
			this.quantities[order[0].id].current_quantity = parseInt(this.quantities[order[0].id].current_quantity) + 1;
		}
	},

	productThumbnail: function(order){
		console.log(order);
 		return product_image_path + ClearifyNames(order[0].item.images)[0];
	},
	getProductTitle: function(order){
		return order[0].item.product.title+' '+order[0].item.title;
	}

  },

  created: function(){
   	self = this;
    axios.get("{{url_for('usercartorder')}}")
      .then(function (response) {
          self.user_orders = response.data;
          response.data.forEach(order => {
			self.total_items_price += parseInt(order[0].total_cost);
			console.log(order[0]);
			self.items_discount += parseInt(order[0].item.discount)*parseInt(order[0].total);
			self.quantities[order[0].id] = {
				current_quantity: order[0].total,
				max_available_quantity: order[0].item.quantity
			}
        });
      })
      .catch(function (error) {
        console.error(error);
    });
  }

});





</script>

{% endblock scripts %}
