{% extends 'site/layout.html' %}
{% block title %} بیدبازی | برندگان گذشته {% endblock %}
{% block content %}
<div id="app" class="content-page woocommerce">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title-shop-page">ثبت نام</h2>
        <div  class="row">
          <div class="col-md-6 col-sm-6 col-ms-12">
            <div class="check-billing">
              <form class="form-my-account">
                <h2 class="title18">وارد کردن اطلاعات</h2>
                <p class="clearfix box-col2">
                  <input type="text" value="نام خانوادگی *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                  <input type="text" value="نام *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                </p>
                <p><input type="text" value="نام محل کار" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /></p>
                <p class="clearfix box-col2">
                  <input type="text" value="ایمیل *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                  <input type="text" value="تلفن *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                </p>
                <p>
                  <select name="country" id="country">
                    <option value="">استان *</option>
                    <option value="">تهران</option>
                    <option value="">قم</option>
                    <option value="">رشت</option>
                    <option value="">لرستان</option>
                  </select>
                </p>
                <p><input type="text" value="آدرس *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" /></p>
                <p class="clearfix box-col2">
                  <input type="text" value="کد پستی" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                  <input type="text" value="شهر / روستا *" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''" />
                </p>
                <p>
                  <input type="checkbox"  id="remember" /> <label for="remember">ایجاد یک حساب کاربری؟</label>
                </p>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-ms-12">
            <div class="check-address">
              <form class="form-my-account">
                <h2 class="title18">اطلاعات بیشتر</h2>
                <p>
                  <textarea cols="30" rows="13" onblur="if (this.value=='') this.value = this.defaultValue" onfocus="if (this.value==this.defaultValue) this.value = ''">توضیحات بیشتر...</textarea>
                </p>
              </form>
            </div>
          </div>
        </div>
        <h3 class="order_review_heading">سفارش شما</h3>
        <div class="woocommerce-checkout-review-order" id="order_review">
          <div class="table-responsive">
            <table class="shop_table woocommerce-checkout-review-order-table">
              <thead>
                <tr>
                  <th class="product-name">محصول</th>
                  <th class="product-total">مبلغ</th>
                </tr>
              </thead>
              <tbody >
                <tr v-for="order in user_orders" class="cart_item">
                  {%raw%}
                  <td class="product-name">
                    {{order[0].item.title}} <span class="product-quantity">× {{toPersian(order[0].total)}}</span>
                  </td>
                  <td class="product-total">
                    <span class="amount">{{toPersian(order[0].total_cost)}} تومان</span>
                  </td>
                  {%endraw%}
                </tr>
                <!-- <tr class="cart_item">
                  <td class="product-name">
                      نام محصول برنده شده	<span class="product-quantity">× ۲</span>
                  </td>
                  <td class="product-total">
                    <span class="amount">۲،۰۰۰،۰۰۰ تومان</span>
                  </td>
                </tr> -->
              </tbody>
              <tfoot>
                <tr class="cart-subtotal">
                  <th>کل مبلغ سفارش</th>
                  <td><strong class="amount">{%raw%}{{toPersian(total_price)}}{%endraw%} تومان</strong></td>
                </tr>
                <tr class="shipping">
                  <th>نوع ارسال</th>
                  <td>
                    <ul  id="shipping_method" class="list-none">
                      <li v-for="(shipment, index) in shipment_methods">
                        <input type="radio" @click="update_shipment_data(shipment.price ,shipment.id)" class="shipping_method" value="local_delivery" :id="index" data-index="0" name="shipping_method[0]">
                        <label :for="index">{%raw%} {{shipment.title}} {%endraw%}</label>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr class="cart-subtotal">
                  <th>هزینه ارسال</th>
                  <td><strong class="amount">{%raw%}{{toPersian(shipment_price)}}{%endraw%} تومان</strong></td>
                </tr>
                <tr class="cart-subtotal">
                  <th class="text-orange">تخفیف داده شده (کد تخفیف)</th>
                  <td><strong class="amount text-orange">{%raw%}{{toPersian(invitation_discount)}}{%endraw%} تومان</strong></td>
                </tr>
                <tr class="cart-subtotal">
                  <th class="text-orange">تخفیف داده شده (محصول)</th>
                  <td><strong class="amount text-orange">{%raw%}{{toPersian(items_discount)}}{%endraw%} تومان</strong></td>
                </tr>
                <tr class="order-total">
                  <th>مبلغ پرداختی نهایی</th>
                  <td><strong><span class="amount">{%raw%}{{toPersian(final_price)}}{%endraw%} تومان </span></strong> </td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="woocommerce-checkout-payment" id="payment">
            <ul v-for="payment_method in payment_methods" class="payment_methods methods list-none">
              <li class="payment_method_bacs">
                <input @click="update_payment_id(payment_method.id)" type="radio" data-order_button_text=""  name="payment_method" class="input-radio" id="payment_method_bacs" checked="checked">
                <label for="payment_method_bacs">{%raw%} {{payment_method.title}} {%endraw%}</label>
                <div class="payment_box payment_method_bacs">
                  <p>{%raw%}{{payment_method.description}}{%endraw%}</p>
                </div>
              </li>
              <!-- <li class="payment_method_cheque">
                <input type="radio" data-order_button_text="" value="cheque" name="payment_method" class="input-radio" id="payment_method_cheque">
                <label for="payment_method_cheque">پرداخت فیش بانکی</label>
                  <div class="payment_box payment_method_cheque">
                  <p>پس از پرداخت به شماره حساب اعلان شده شماره فیش پرداختی را برای ما ارسال کنید.</p>
                </div>
              </li>
              <li class="payment_method_cod">
                <input type="radio" data-order_button_text="" value="cod" name="payment_method" class="input-radio" id="payment_method_cod">
                <label for="payment_method_cod">به صورت نقدی</label>
                <div class="payment_box payment_method_cod">
                  <p>لطفا مبلغ سفارش را بعد از تحویل کالا به مامور پست تحویل دهید.</p>
                </div>
              </li>
              <li class="payment_method_paypal">
                <input type="radio" data-order_button_text="Proceed" value="Proceed" name="payment_method" class="input-radio" id="payment_method_Proceed">
                <label for="payment_method_Proceed">
                  آنلاین <img alt="" src="{{url_for('static', filename='images/theme/bank.png')}}"><a title="" onclick="javascript:window.open('https://shaparak.ir/content?id=287','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" class="about_paypal" href="https://shaparak.ir/content?id=287">کارت های عضو شتاب</a>
                </label>
              </li> -->
            </ul>
            <div id="app" class="form-row place-order">
              <form @submit.prevent="handleSubmit" id="confirm">
                <input type="submit" data-value="Place order" value="پرداخت و تایید نهایی" id="place_order"  class="button alt">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <h2 id="app"> {%raw%} {{shipment_methods}} {%endraw%}  </h2> -->
{% endblock %}
{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var app = new Vue({

  el: '#app',

  data:{
    shipment_methods: [],
    payment_methods: [],
    payment_method_id: null,
    shipment_method_id: null,
    shipment_price: 0,
    user_orders: [],
    user: "{{current_user.id}}",
    invitation_discount: 0,
    items_discount: 0,
    total_price: 0
  },

  computed: {
    final_price: function(){
      return parseInt(this.total_price)  + parseInt(this.shipment_price) - parseInt(this.invitation_discount) - parseInt(this.items_discount);
    }
  },

  methods:{

    toPersian: function(data){
      return ToPersian(formatCurrency(data));
    },

    update_payment_id: function(payment_method_id){
      this.payment_method_id = payment_method_id;
    },

    update_shipment_data: function(price, id){
      console.log(price);
      this.shipment_price = price;
      this.shipment_method_id = id;
    },

    handleSubmit: function(){
      var bodyFormData = new FormData();
      bodyFormData.set('final_price', this.final_price);
      bodyFormData.set('payment_method_id', this.payment_method_id);
      bodyFormData.set('shipment_method_id', this.shipment_method_id);
      axios({
        method: 'POST',
        url: '/api/user/checkout/confirm/payment/{{pid}}',
        data: bodyFormData,
        config: { headers: {'Content-Type': 'multipart/form-data' }}
      })
      .then(function (response) {
        //handle success
        window.location = "/confirm/payment/{{pid}}"
        console.log(response);
       })
      .catch(function (response) {
          //handle error
          console.log(response);
      });
    }
  },

  created: function(){
   self = this;

    axios.get("{{url_for('paymentmethods')}}")
      .then(function (response) {
        self.payment_methods = response.data[0];
        self.payment_method_id = self.payment_methods[0].id
        console.log(response);
      })
      .catch(function (error) {
        console.error(error);
    });


    axios.get("{{url_for('shipmentmethods')}}")
      .then(function (response) {
        self.shipment_methods = response.data[0];
        self.shipment_method_id = self.shipment_methods[0].id
        console.log(response);
      })
      .catch(function (error) {
        console.error(error);
    });


    if (this.user == ""){
      this.user= true;
    }
    else{
      this.user = false;
    }

    axios.get("{{url_for('usercartorder')}}")
      .then(function (response) {
          self.user_orders = response.data;
          response.data.forEach(order => {
            self.total_price += parseInt(order[0].total_cost);
            self.items_discount += parseInt(order[0].item.discount)*parseInt(order[0].total);
            console.log(self.items_discount);
        });
      })
      .catch(function (error) {
        console.error(error);
    });
    // $.getJSON("{{url_for('usercartorder')}}", function(data){
    //   console.log(data);
    //   self.user_orders = data;
    //   data.forEach(order => {
    //     self.total_price += parseInt(order[0].total_cost);
    //   });

    // });
  }



});

</script>
{% endblock scripts %}
