{% extends 'site/layout.html' %}
{% block title %} بیدبازی | سوالات متداول {% endblock %}
{% block content %}
<div class="content-page">
	<div class="container">
		<div class="bread-crumb radius">
			<a href="#">خانه</a> <span>پرسش و پاسخ</span>
		</div>
		<!-- End Bread Crumb -->
		<div class="content-single single-fullwidth">
			<div class="main-single pr-0">
				<h2 class="title-single">پرسش و پاسخ</h2>
				<main class="FAQ">
						<input type="text" class="live-search-box" placeholder="جستجوی عبارت مورد نظر..." />
						<div class="topic">
							<div class="open">
							<h2 class="question">۱. ممکن است پرداختت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا 72 ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۲. ممکن است پرداخت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا 72 ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۳. ممکن است پرداخت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا 72 ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۴. ممکن است پرداخت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا 72 ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۵. ممکن است پرداخت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا 72 ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.</p>
						</div>
						<div class="topic">
							<div class="open">
							<h2 class="question">۶. ممکن است پرداخت اینترنتی ناموفق باشد، ولی مبلغ از حساب من کم شده باشد؟</h2>
							<span class="faq-t"></span>
							</div>
							<p class="answer">گاهی ممکن است در هنگام پرداخت شبکه بانکی قطع شود و پرداخت ناموفق انجام شود. اما در این مواقع جای نگرانی وجود ندارد. در این حالت معمولاً پول شما در حساب‏‌های میانی بانک است و خود بانک مغایرت‏‌ها را رفع کرده و مبلغ را به صورت خودکار به حساب شما برگشت می‌‏دهد. اگر تا 72 ساعت پول به حسابتان برگشت نخورد، آنگاه با بانک عامل پرداخت اینترنتی تماس بگیرید تا مغایرت برطرف شود.</p>
						</div>
						</main>

			</div>
		</div>
		<!-- End Content Single -->
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

{% endblock scripts %}
