{% extends 'site/layout.html' %}
{% block content %}
<div class="container">
	<div class="content-top1">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs" style="display:none">
				<div class="wrap-cat-icon wrap-cat-icon1">
					<h2 class="title14 title-cat-icon">دسته بندی ها</h2>
					<ul class="list-cat-icon">

					</ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="wrap-banner-slider1">
					<div class="banner-slider banner-slider1">
						<div class="wrap-item ads_banner" data-autoplay="true" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]" data-transition="fade">
							<!-- <div class="item-banner item-banner1">
								<div class="banner-thumb">
									<a href="#"><img src="images/theme/slide1.jpg" alt="" /></a>
								</div>
								<div class="banner-info animated" data-animated="lightSpeedIn">
									<h2 class="title30">حراجی موبایل و تبلت</h2>
									<h2 class="title30 color">تخفیف: <span>تا </span> ۷۰% <span> قیمت</span></h2>
									<p>سامسونگ، اپل، سونی و...</p>
									<a href="#" class="shopnow"><span>شرکت در حراجی</span></a>
								</div>
							</div>
							<div class="item-banner item-banner1">
								<div class="banner-thumb">
									<a href="#"><img src="images/theme/slide3.jpg" alt="" /></a>
								</div>
								<div class="banner-info animated" data-animated="zoomInRight">
									<h2 class="title30">ساعت هوشمند سامسونگ</h2>
									<h2 class="title30 color">تخفیف تا ۷۰٪ قیمت</h2>
									<p>قیمت ورودی: ۶۰ هزار تومان</p>
									<a href="#" class="shopnow"><span>شرکت در حراجی</span></a>
								</div>
							</div> -->
						</div>
					</div>
					<!-- End Banner -->
					<div class="sub-banner-slider">
						<div class="wrap-item sub-ads-slider" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,3],[1024,4]]">
						
							<!-- <div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" src="images/theme/sub3.png" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a href="#">سامسونگ s7 ۶۴ گیگ</a></h3>
									<strong class="color">تا ۳۰٪ تخفیف</strong>
								</div>
							</div>
							<div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" src="images/theme/sub2.png" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a href="#">ساعت کلاسیک رادو</a></h3>
									<strong class="color">تا ۴۰٪ تخفیف</strong>
								</div>
							</div>
							<div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" src="images/theme/sub3.png" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a href="#">سامسونگ s7 ۶۴ گیگ</a></h3>
									<strong class="color">تا ۸۰٪ تخفیف</strong>
								</div>
							</div>
							<div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" src="images/theme/sub2.png" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a href="#">ساعت کلاسیک رادو</a></h3>
									<strong class="color">تا ۵۰٪ تخفیف</strong>
								</div>
							</div>
							<div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" src="images/theme/sub3.png" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a href="#">سامسونگ s7 ۶۴ گیگ</a></h3>
									<strong class="color">تا ۳۰٪ تخفیف</strong>
								</div>
							</div>
							<div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" src="images/theme/sub2.png" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a href="#">ساعت کلاسیک رادو</a></h3>
									<strong class="color">تا ۶۰٪ تخفیف</strong>
								</div>
							</div> -->
						</div>
					</div>
					<!-- End Sub Banner -->
				</div>
			</div>
		</div>
	</div>
	<div class="intro-countdown">
		<h2 class="title30">ثبت نام فوق العاده تا <strong class="color">۳۰٪</strong> تخفیف در همه حراجی ها! <span class="color">محدود</span></h2>
		<div class="deals-cowndown" data-date="12/12/2018"></div>
	</div>
	<!-- End Intro Countown -->
</div>
<div class="list-flash">
	<div class="container">
		<h2 class="title24 title-flash"><span class="bg-color white">حراجی های امروز</span></h2>
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad1.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">
									<a href="package.html" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad2.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad2.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad1.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad2.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ENd Flash -->
	<div class="product-hotdeal" >
		<div class="header-hotdeal">
			<div class="container">
				<div class="title-box1">
					<h2 class="title30"><span><i class="fa fa-legal" aria-hidden="true"></i></span><a href="#">بهترین ها</a></h2>
					<ul class="list-none">
						<li class="active"><a href="#hot1" data-toggle="tab">حراجی</a></li>
						<li><a href="#hot2" data-toggle="tab">بازدید</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Header Hotdeal -->
		<div class="content-hotdeal tab-content">
			<div id="hot1" class="tab-pane active">
				<div class="hotdeal-slider">
					<div class="wrap-item" data-itemscustom="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]" data-pagination="false" data-autoplay="true" data-navigation="true">
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2

								">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
					</div>
				</div>
			</div>
			<!-- ENd Tab -->
			<div id="hot2" class="tab-pane">
				<div class="hotdeal-slider">
					<div class="wrap-item" data-itemscustom="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]" data-pagination="false" data-autoplay="true" data-navigation="true">
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<!-- End Item -->
					</div>
				</div>
			</div>
			<!-- ENd Tab -->
		</div>
		<!-- End Content Hot Deal -->
	</div>
	<div class="service-footer3 service-footer11">
		<div class="container">
			<div class="service-slider3">
				<div class="wrap-item" data-pagination="false" data-navigation="false" data-items="6">
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="images/theme/for1.png" alt="" /></a>
						<h2 class="title14">شرکت کنید</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="images/theme/for2.png" alt="" /></a>
						<h2 class="title14">تحویل ۲۴ ساعته</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="images/theme/for3.png" alt="" /></a>
						<h2 class="title14">پرداخت امن</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="images/theme/for4.png" alt="" /></a>
						<h2 class="title14">فروشگاهی با اعتبار</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="images/theme/for5.png" alt="" /></a>
						<h2 class="title14">پشتیبانی ۲۴ ساعته</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="images/theme/for6.png" alt="" /></a>
						<h2 class="title14">اپلیکیشن موبایل</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<div class="deal-box18">
		<h2 class="white title30 text-center"><span>نام دسته بندی</span></h2>
		<div class="deal-slider18 poly-slider border bg-white">
			<div class="wrap-item" data-itemscustom="[[0,1],[768,3],[1024,4]]" data-navigation="true" data-pagination="false">
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/3.jpg" alt="">
							<img src="images/photos/homeware/3.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
			</div>
		</div>
	</div>
	<!-- End Deal -->
	<div class="deal-box18">
		<h2 class="white title30 text-center"><span>نام دسته بندی</span></h2>
		<div class="deal-slider18 poly-slider border bg-white">
			<div class="wrap-item" data-itemscustom="[[0,1],[768,3],[1024,4]]" data-navigation="true" data-pagination="false">
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/3.jpg" alt="">
							<img src="images/photos/homeware/3.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
			</div>
		</div>
	</div>
	<!-- End Deal -->
	<div class="deal-box18">
		<h2 class="white title30 text-center"><span>نام دسته بندی</span></h2>
		<div class="deal-slider18 poly-slider border bg-white">
			<div class="wrap-item" data-itemscustom="[[0,1],[768,3],[1024,4]]" data-navigation="true" data-pagination="false">
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/3.jpg" alt="">
							<img src="images/photos/homeware/3.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
			</div>
		</div>
	</div>
	<!-- End Deal -->
	<div class="deal-box18">
		<h2 class="white title30 text-center"><span>نام دسته بندی</span></h2>
		<div class="deal-slider18 poly-slider border bg-white">
			<div class="wrap-item" data-itemscustom="[[0,1],[768,3],[1024,4]]" data-navigation="true" data-pagination="false">
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/3.jpg" alt="">
							<img src="images/photos/homeware/3.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>
							<!-- <del><span>$65.00</span></del> -->
						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>
				<!-- End Item -->
			</div>
		</div>
	</div>
	<!-- End Deal -->
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

$.getJSON( "{{url_for('productadvertisements')}}", function( data ) {

	$.each( data[0], function( key, val ) {
		console.log(val.product.items[0].discount);

		item_sub_slide =
		'<div class="item-sub-banner">'+
		'<div class="product-thumb">'+
		'<a href="#"><img class="wobble-horizontal" src="'+val.images+'" alt="" /></a>'+
		'</div>'+
		'<div class="product-info">'+
		'<h3 class="product-title text-capitalize"><a href="#">'+val.title+'</a></h3>'+
		'<strong class="color">تا '+val.product.items[0].discount+' درصد تخفیف</strong>'+
		'</div>'+
		'</div>';
		$('.sub-ads-slider').append(item_sub_slide);
});
});

$.getJSON( "{{url_for('categories')}}", function( data ) {
	console.log(data);
	$.each( data[0], function( key, val ) {
		item_cat_icon = '<li><a href="#"><img alt="" src="{{url_for("static",filename="'+val.icon+'")}}"><span>'+val.name+'</span></a></li>';
		item_toggle = '<li><a href="#"><span>'+val.name+'</span></a></li>';
		$('.list-cat-icon').append(item_cat_icon);
		$('.list-category-toggle').append(item_toggle);
	});
});

$.getJSON( "{{url_for('auctionadvertisements')}}", function( data ) {
	console.log(data);
	$.each( data[0], function( key, val ) {
		console.log(data[0]);
		item =
		'<div class="item-banner item-banner1">'+
		'<div class="banner-thumb">'+
		'<a href="#"><img src="'+val.images+'" alt="" /></a>'+
		'</div>'+
		'<div class="banner-info animated" data-animated="lightSpeedIn">'+
		'<h2 class="title30">'+val.title+'</h2>'+
		'<h2 class="title30 color">تخفیف: <span>تا </span> '+val.auction.item[0].discount+'% <span> قیمت</span></h2>'+
		'<p>'+val.description+'</p>'+
		'<a href="#" class="shopnow"><span>'+val.link_title+'</span></a>'+
		'</div>'+
		'</div>';

		$('.ads_banner').append(item);
	});
});

</script>
{% endblock scripts %}
