{% extends 'site/layout.html' %}
{% block content %}
<div class="container">
	<div class="content-top1">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs" style="display:none">
				<div class="wrap-cat-icon wrap-cat-icon1">
					<h2 class="title14 title-cat-icon">دسته بندی ها</h2>
					<ul class="list-cat-icon">
					</ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="wrap-banner-slider1">
					<div class="banner-slider banner-slider1">
						<div class="wrap-item" data-bind='foreach: ads' data-autoplay = "true"  data-pagination = "false" data-navigation = "true"  data-itemscustom = "[[0,1]]" data-transition = "fade">
							 <div class="item-banner item-banner1">
								<div class="banner-thumb">
									<a href="#"><img data-bind="attr:{src : ad_image_path + ClearifyNames(advertisement.images)[0]}" alt="" /></a>
								</div>
								<div class="banner-info animated" data-bind="attr:{'data-animated' : 'lightSpeedIn' }" >
									<h2 class="title30" data-bind="text: advertisement.title"></h2>
									<h2 class="title30 color">تخفیف: <span>تا </span> <span data-bind="text:ToPersian(advertisement.discount)"></span>% <span> قیمت</span></h2>
									<p data-bind="text: advertisement.description"></p>
									<a data-bind="attr:{href : 'view/auction/'+id}" class="shopnow"><span data-bind="text: advertisement.link_title"></span></a>
								</div>
							  </div>
							<!-- ko text: triggerSlider($($element.parentElement)) -->
							<!-- /ko -->
						</div>
					</div>
					<!-- End Banner -->
					<div class="sub-banner-slider">
						<div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,3],[1024,4]]" data-bind="foreach:productAds">
							<div class="item-sub-banner">
								<div class="product-thumb">
									<a href="#"><img class="wobble-horizontal" data-bind="attr:{src : ad_image_path + ClearifyNames(advertisement.images)[0] }" alt="" /></a>
								</div>
								<div class="product-info">
									<h3 class="product-title text-capitalize"><a data-bind="text:advertisement.title , attr:{href: '/view/product/'+id }"></a></h3>
									<strong class="color"> تا <span data-bind="text:ToPersian(advertisement.discount)"></span> ٪ تخفیف</strong>
								</div>
							</div>
							<!-- ko text: triggerSlider($($element.parentElement)) -->
							<!-- /ko -->
						</div>
					</div>
					<!-- End Sub Banner -->
				</div>
			</div>
		</div>
	</div>
	<div class="events_container" data-bind="foreach:events">
		<div class="intro-countdown">
			<h2 class="title30"> ٪<strong class="color" data-bind="text: discount "></strong> <span data-bind="text:description"></span> <span class="color"> محدود </span></h2>
			<div class="deals-cowndown timer" data-bind="attr:{ 'data-timer' : deadline}"></div>
		</div>
		<!-- ko text: triggerBigTimer () -->
		<!-- /ko -->
		<!-- End Intro Countown -->
	</div>

</div>
<div class="list-flash">
	<div class="container">
		<h2 class="title24 title-flash"><span class="bg-color white">حراجی های امروز</span></h2>
		<div class="row" data-bind="foreach:auctions">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a data-bind="attr:{href : 'view/auction/'+id}" class="thumb-zoom"><img data-bind="attr:{src : image}" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white"><span data-bind="text:participant_count"></span> از <span data-bind="text:max_members"></span> </span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown timer" data-bind = "attr:{'data-timer':deadline}" ></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p data-bind="text:title"></p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									{%if current_user.is_authenticated%}
									<div data-bind="if:is_participant">
										<a data-bind="attr:{href:link}" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
									</div>
									<div data-bind="ifnot:is_participant">
										<a data-bind="attr:{href:link}" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
									</div>
									{%else%}
									<a data-bind="attr:{href:link}" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>ورود</span></a>
									<!-- <a href="/ilogin" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>ورود</span></a> -->
									{%endif%}

								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span data-bind="text:base_price"></span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span data-bind="text:price"></span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- ko text: triggerFlashTimer () -->
			<!-- /ko -->
			<!-- End Intro Countown -->
		</div>
	</div>
</div>
<!-- ENd Flash -->
	<div class="product-hotdeal" >
		<div class="header-hotdeal">
			<div class="container">
				<div class="title-box1">
					<h2 class="title30"><span><i class="fa fa-legal" aria-hidden="true"></i></span><a href="#">بهترین ها</a></h2>
					<ul class="list-none">
						<li class="active"><a href="#hot1" data-toggle="tab">بر اساس محبوبیت</a></li>
						<li><a href="#hot2" data-toggle="tab">بر اساس بازدید</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Header Hotdeal -->
		<div class="content-hotdeal tab-content">
			<div id="hot1" class="tab-pane active">
				<div class="hotdeal-slider">
					<div class="wrap-item" data-bind='foreach:populars' data-itemscustom="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]"  data-pagination = "false"  data-autoplay = "true"  data-navigation = "true">
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img data-bind="attr:{src : image}" alt="">
								</a>
								<a data-bind="attr:{href:instance_link}" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#" data-bind="text:title"></a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span data-bind="text:base_price"></span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span><span data-bind="text : price"></span> تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									{% if current_user.is_authenticated %}
									<a data-bind="attr:{href:link}" class="addcart-link quickview-link fancybox.iframe">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
									{% else %}
									<a href="/ilogin" class="addcart-link quickview-link fancybox.iframe"><span>ورود</span></a>
									{% endif %}
								</div>
							</div>
						</div>

						<!-- ko text: triggerSlider($($element.parentElement)) -->
						<!-- /ko -->
						<!-- End Item -->
					</div>

				</div>
			</div>
			<!-- ENd Tab -->
			<div id="hot2" class="tab-pane">
				<div class="hotdeal-slider">
					<div class="wrap-item" data-bind='foreach:views' data-itemscustom ="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]" data-pagination = "false" data-autoplay = "true"  data-navigation = "true">
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img data-bind="attr:{src : image}" alt="">
								</a>
								<a data-bind="attr:{href:instance_link}" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#" data-bind="text:title"></a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span data-bind="text:base_price"></span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span><span data-bind="text : price"></span> تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									{% if current_user.is_authenticated %}
									<a data-bind="attr:{href:link}" class="addcart-link quickview-link fancybox.iframe">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
									{% else %}
									<a href="/ilogin" class="addcart-link quickview-link fancybox.iframe"><span>ورود</span></a>
									{% endif %}
								</div>
							</div>
						</div>
						<!-- ko text: triggerSlider($($element.parentElement)) -->
						<!-- /ko -->
						<!-- End Item -->

					</div>
				</div>
			</div>
			<!-- ENd Tab -->
		</div>
		<!-- End Content Hot Deal -->
	</div>
	<div class="service-footer3 service-footer11">
		<div class="container">
			<div class="service-slider3">
				<div class="wrap-item" data-pagination="false" data-navigation="false" data-items="6">
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for1.png" alt="" /></a>
						<h2 class="title14">شرکت کنید</h2>
						<p> شما میتوانید با شرکت در حراجی های بردیتو کالای مورد نظر خود را تا ۷۰ درصد تخفیف خریداری کنید </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for2.png" alt="" /></a>
						<h2 class="title14">تحویل ۲۴ ساعته</h2>
						<p> در هر ساعتی از شبانه روز میتوانید کالای برنده شده یا خریداری شده خود را تحویل بگیرید. </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for3.png" alt="" /></a>
						<h2 class="title14">پرداخت امن</h2>
						<p> با درگاه های فعال در بردیتو امن ترین نوع پرداخت را تجربه کنید </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for4.png" alt="" /></a>
						<h2 class="title14">فروشگاهی با اعتبار</h2>
						<p> بردیتو فروشگاهی با اعتبار است که برای شما تجربه یک حراجی و خرید امن را فراهم می آورد </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for5.png" alt="" /></a>
						<h2 class="title14">پشتیبانی ۲۴ ساعته</h2>
						<p>شما به صورت شبانه روزی می توانید در سامانه بردیتو ثبت نام کنید</p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for6.png" alt="" /></a>
						<h2 class="title14">اپلیکیشن موبایل</h2>
						<p>بزودی پلتفرم بردیتو در دو نسخه اندروید و ios عرضه خواهد شد.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" data-bind="foreach:categories">
		<div class="deal-box18">
			<h2 class="white title30 text-center"><span data-bind="text:title"></span></h2>
			<div class="deal-slider18 poly-slider border bg-white">
				<div class="wrap-item" data-bind ='foreach : auctions' data-itemscustom="[[0,1],[768,3],[1024,4]]" data-navigation="true" data-pagination="false">
					<div class="deal-pro18">
						<div class="product-thumb">
							<a data-bind="attr:{href : '/instantview/'+id}" class="quickview-link fancybox.iframe product-thumb-link zoomout-thumb">
								<img data-bind="attr:{src: product_image_path+'/'+ClearifyNames(item.images)[0] }" alt="">
								<img data-bind="attr:{src: product_image_path+'/'+ClearifyNames(item.images)[0] }" alt="">
							</a>
							<a data-bind="attr:{href : '/instantview/'+id}" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
						</div>
						<h2 class="title14"><a href="#" data-bind="text:title" ></a></h2>
						<div class="product-info">
							<div class="product-price">
								<ins>شروع از : <span data-bind="text:ToPersian(formatCurrency(base_price))"></span></ins>
								{% if current_user.is_authenticated %}
								<a data-bind="attr:{href : '/participate/'+id}"  class="quickview-link fancybox.iframe addcart-link bg-color white radius">ثبت نام</a>
								{% else %}
								<a href="/ilogin" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>ورود</span></a>
								{% endif %}
							</div>
						</div>
						<div class="deal-timer18 poly-box">
							<div class="flash-countdown timer" data-bind='attr:{"data-timer" : remained_time }'></div>
						</div>
					</div>
					<!-- ko text: triggerSlider($($element.parentElement)) -->
					<!-- /ko -->
					<!-- ko text: triggerFlashTimer() -->
					<!-- /ko -->
				</div>
			</div>
		</div>
		<!-- End Deal -->
	</div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>

var today_auctions = ko.observableArray([]);
var best_auctions = [];
var ads = [];
var events = [];
var auctions = [];
var populars = [];
var views = [];
var categories = [];
var alldatareveived = false;

function Auction(id,title,description,deadline,participant_count,max_members,base_price,max_price,price,images,link) {
    var self = this;
		self.id = id;
		self.title = ko.observable(title);
		self.description = ko.observable(description);
		self.deadline = ko.observable(deadline);
		self.participant_count = ko.observable(participant_count);
		self.max_members = ko.observable(max_members);
		self.base_price = ko.observable(base_price);
		self.max_price = ko.observable(max_price);
		self.price = ko.observable(price);
		self.image = ko.observable(images);
		self.link = ko.observable(link);
}

function Category(title,auctions) {
	this.title = ko.observable(title);
	this.auctions = ko.observableArray(auctions);
}

function dealModel() {

	var self = this;
	self.ads = ko.observableArray([]);
	self.productAds = ko.observableArray([]);
	self.events = ko.observableArray([]);
	self.auctions =ko.observableArray(auctions);
	self.populars = ko.observableArray([]);
	self.views = ko.observableArray([]);
	self.categories = ko.observableArray([]);

	var categories = [];
	$.getJSON("{{url_for('sitecategorymenuitems')}}", function(data){
		$.each(data[0],function(key,val){
			$.getJSON("api/site/category/"+val.id+"/auctions", function(innerData) {
				aucs = []
				$.each(innerData.auctions[0],function(ky,vl) {
					aucs.push(vl)
				});
				category = new Category(val.title,aucs);
				OnDataReady(category);
			});
		});
	});

	function OnDataReady(data) {
		self.categories.push(data);
	}

	$.getJSON("{{url_for('siteauctioncarouselads')}}", function(data) {
		console.log(data[0]);
		self.ads(data[0]);
	})

	$.getJSON("{{url_for('siteproductcarouselads')}}", function(data) {
		self.productAds(data[0]);
	})

	$.getJSON( "{{url_for('sitetodayevents')}}", function( data ) {
		$.each(data[0],function(key,val){
			e = { title : val.title , description : val.description , deadline : new Date(val.end_date).format("yyyy-M-d hh:mm:ss TT","UTC"), discount :ToPersian(val.discount)};
			events.push(e);
		})
		self.events(events)
	});

	$.getJSON( "{{url_for('sitetodayauctions')}}", function( data ) {

		$.each(data[0],function(key,val){
			is_participant = false;
			$.each(val.participants,function(k,v) {
				if(v.id=="{{current_user.id}}"){
					is_participant = true;
					return;
				}
			});

			auction = new Auction(
				val.id,
				val.title ,
				val.description ,
				val.remained_time,
				ToPersian(val.participants.length),
			  ToPersian(val.max_members),
				ToPersian(formatCurrency(val.base_price)),
				ToPersian(formatCurrency(val.max_price)),
				ToPersian(formatCurrency(val.item.price)),
				product_image_path + ClearifyNames(val.item.images)[0],
				is_participant ? "/view/auction/"+val.id : "/participate/"+ val.id,
				is_participant,
			);
			auctions.push(auction);
		});
		self.auctions(auctions);
	});

	$.getJSON( "{{url_for('sitemostpopularauctions')}}", function( data ) {
		$.each(data[0],function(key,val){
			auction =
			{
				title : val.title ,
				description : val.description ,
				deadline : val.remained_time,
				participant_count :ToPersian(val.participants.length),
				max_members :ToPersian(val.max_members),
				base_price : ToPersian(formatCurrency(val.base_price)),
				max_price : ToPersian(formatCurrency(val.max_price)),
				price : ToPersian(formatCurrency(val.item.price)),
				image : product_image_path + ClearifyNames(val.item.images)[0],
				instance_link : "/instantview/"+ val.id,
				link : "/participate/"+ val.id
			};
			populars.push(auction);
		});
		self.populars(populars);
	});

	$.getJSON( "{{url_for('sitemostviewedauctions')}}", function( data ) {
		$.each(data[0],function(key,val){
			auction =
			{
				title : val.title ,
				description : val.description ,
				deadline : val.remained_time,
				participant_count :ToPersian(val.participants.length),
				max_members :ToPersian(val.max_members),
				base_price : ToPersian(formatCurrency(val.base_price)),
				max_price : ToPersian(formatCurrency(val.max_price)),
				price : ToPersian(formatCurrency(val.item.price)),
				image : product_image_path + ClearifyNames(val.item.images)[0],
				instance_link : "/instantview/"+ val.id,
				link : "/participate/"+ val.id
			};
			views.push(auction);
		});
		self.views(views)
	});
}

ko.applyBindings(new dealModel());

$(document).ready(function(){
	sleep(5000);
});

</script>
{% endblock scripts %}
