{% extends 'site/layout.html' %}
{% block content %}
<div class="container">
	<div class="content-top1">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs" style="display:none">
				<div class="wrap-cat-icon wrap-cat-icon1">
					<h2 class="title14 title-cat-icon">دسته بندی ها</h2>
					<ul class="list-cat-icon">

					</ul>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="wrap-banner-slider1">
					<div class="banner-slider banner-slider1">
						<div class="wrap-item ads_banner" data-autoplay="true" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]" data-transition="fade">

						</div>
					</div>
					<!-- End Banner -->
					<div class="sub-banner-slider">
						<div class="wrap-item sub-ads-slider" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1],[560,3],[1024,4]]">

						</div>
					</div>
					<!-- End Sub Banner -->
				</div>
			</div>
		</div>
	</div>
	<div class="events_container">

	</div>
	<!-- End Intro Countown -->
</div>
<div class="list-flash">
	<div class="container">
		<h2 class="title24 title-flash"><span class="bg-color white">حراجی های امروز</span></h2>
		<div class="row auctions_container">
			<!-- <div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad1.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">
									<a href="package.html" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad2.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad2.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad1.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad2.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="banner-flash">
					<div class="banner-zoom">
						<a href="#" class="thumb-zoom"><img src="images/theme/ad3.jpg" alt="" /></a>
						<div class="flash-label">
							<span class="text-uppercase white">۲۳ از ۴۵</span>
						</div>
						<div class="flash-label right-time">
							<span class="text-uppercase white"><div class="flash-countdown" data-date="10/10/2018"></div></span>
						</div>
					</div>
					<div class="flash-info">
						<ul class="list-none clearfix">
							<li>
								<div class="flash-timer">
									<p>گوشی سامسونگ S7 ۱۲۸ گیگابایت</p>
								</div>
							</li>
							<li>
								<div class="flash-timer">

									<a href="#" class="btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>
								</div>
							</li>
							<li>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<label>قیمت محصول:</label>
										<ins><span>۲،۵۰۰،۰۰۰</span></ins>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>
<!-- ENd Flash -->
	<div class="product-hotdeal" >
		<div class="header-hotdeal">
			<div class="container">
				<div class="title-box1">
					<h2 class="title30"><span><i class="fa fa-legal" aria-hidden="true"></i></span><a href="#">بهترین ها</a></h2>
					<ul class="list-none">
						<li class="active"><a href="#hot1" data-toggle="tab">حراجی</a></li>
						<li><a href="#hot2" data-toggle="tab">محصول</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Header Hotdeal -->
		<div class="content-hotdeal tab-content">
			<div id="hot1" class="tab-pane active">
				<div class="hotdeal-slider">
					<div class="wrap-item mostpopular_auctions_container" data-itemscustom="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]" data-pagination="false" data-autoplay="true" data-navigation="true">
						<!-- <div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2

								">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/2.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="images/photos/homeware/1.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div> -->

						<!-- End Item -->
					</div>
				</div>
			</div>
			<!-- ENd Tab -->
			<div id="hot2" class="tab-pane">
				<div class="hotdeal-slider">
					<div class="wrap-item mostpopular_product_container" data-itemscustom="[[0,1],[560,2],[768,3],[1024,4],[1200,5],[1366,6]]" data-pagination="false" data-autoplay="true" data-navigation="true">
						<div class="item-pro-hotdeal">
							<div class="product-thumb">
								<a href="#" class="product-thumb-link">
									<img src="static/images/photos/homeware/3.jpg" alt="">
								</a>
								<a href="quick-view.html" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>
							</div>
							<div class="product-info">
								<h3 class="product-title"><a href="#">نام محصول</a></h3>
								<div class="info-pro-hotdeal">
									<div class="deal-percent">
										<span>شروع حراجی:</span>
										<span>۳۵۰،۰۰۰</span>
									</div>
									<div class="product-price">
										<del><span>قیمت محصول</span></del>
										<ins><span>۲،۰۰۰،۰۰۰ تومان</span></ins>
									</div>
								</div>
								<div class="product-extra-link2">
									<a href="#" class="addcart-link">شرکت در حراجی</a>
									<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ENd Tab -->
		</div>
		<!-- End Content Hot Deal -->
	</div>
	<div class="service-footer3 service-footer11">
		<div class="container">
			<div class="service-slider3">
				<div class="wrap-item" data-pagination="false" data-navigation="false" data-items="6">
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for1.png" alt="" /></a>
						<h2 class="title14">شرکت کنید</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for2.png" alt="" /></a>
						<h2 class="title14">تحویل ۲۴ ساعته</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for3.png" alt="" /></a>
						<h2 class="title14">پرداخت امن</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for4.png" alt="" /></a>
						<h2 class="title14">فروشگاهی با اعتبار</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for5.png" alt="" /></a>
						<h2 class="title14">پشتیبانی ۲۴ ساعته</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
					<div class="item-service3 white">
						<a class="service-icon" href="#"><img src="static/images/theme/for6.png" alt="" /></a>
						<h2 class="title14">اپلیکیشن موبایل</h2>
						<p>مورد نظر در اینجا نوشته شود مورد نظر در اینجا نوشته شود مورد نظر در </p>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="container">
	<!-- <div class="deal-box18">
		<h2 class="white title30 text-center"><span>نام دسته بندی</span></h2>
		<div class="deal-slider18 poly-slider border bg-white">
			<div class="wrap-item" data-itemscustom="[[0,1],[768,3],[1024,4]]" data-navigation="true" data-pagination="false">
				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>

						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>

				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>

						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>

				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/3.jpg" alt="">
							<img src="images/photos/homeware/3.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>

						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>

				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/1.jpg" alt="">
							<img src="images/photos/homeware/1.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>

						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>

				<div class="deal-pro18">
					<div class="product-thumb">
						<a href="#" class="product-thumb-link zoomout-thumb">
							<img src="images/photos/homeware/2.jpg" alt="">
							<img src="images/photos/homeware/2.jpg" alt="">
						</a>
						<a href="quick-view.html" class="quickview-link plus pos-middle fancybox.iframe">مشاهده سریع</a>
					</div>
					<h2 class="title14"><a href="#">نام محصول</a></h2>
					<div class="product-info">
						<div class="product-price">
							<ins><span> شروع: ۲،۷۰۰،۰۰۰</span></ins>
							<a href="#" class="addcart-link bg-color white radius">ثبت نام</a>

						</div>
					</div>
					<div class="deal-timer18 poly-box">
						<div class="flash-countdown" data-date="10/10/2018"></div>

					</div>
				</div>

			</div>
		</div>
	</div> -->
</div>
{% endblock %}
{% block scripts %}
{{ super() }}

<script>

$.getJSON( "{{url_for('categorymenuitems')}}", function( data ) {
		$.each( data[0], function( key, val ) {
		if(val.icon)
			image_name ='/static/images/icons/category/'+val.icon.replace(/'/g, '').replace('[','').replace(']','').replace(' ','').split(',')[0];
		else
			image_name="test.png"

		item_cat_icon = '<li><a href="#"><img alt="" src="'+image_name+'"><span>'+val.name+'</span></a></li>';
		item_toggle = '<li><a href="#"><span>'+val.name+'</span></a></li>';
		$('.list-cat-icon').append(item_cat_icon);
		$('.list-category-toggle').append(item_toggle);
		$('.main-nav-ontop').find('ul').append(item_toggle);
	});
});

$.getJSON( "{{url_for('auctioncarouselads')}}", function( data ) {
	$.each( data[0], function( key, val ) {

		if(val.images)
			image_name ='/static/images/ads/'+val.images.replace(/'/g, '').replace('[','').replace(']','').replace(' ','').split(',')[0];
		else
			image_name="test.jpg"

		item_auction_carousel =
		'<div class="item-banner item-banner1">'+
		'<div class="banner-thumb">'+
		// '<a href="#"><img src="'+image_name+'" alt="تصویر تبلیغات" /></a>'+
		'</div>'+
		'<div class="banner-info animated" data-animated="lightSpeedIn">'+
		'<h2 class="title30">'+val.title+'</h2>'+
		'<h2 class="title30 color">تخفیف: <span>تا </span> '+ToPersian(val.auction.item.discount)+'% <span> قیمت</span></h2>'+
		'<p>'+val.description+'</p>'+
		'<a href="#" class="shopnow"><span>'+val.link_title+'</span></a>'+
		'</div>'+
		'</div>';

		$('.ads_banner').append(item_auction_carousel);
	});
});

$.getJSON( "{{url_for('productcarouselads')}}", function( data ) {
	$.each( data[0], function( key, val ) {
		if(val.images)
			image_name ='/static/images/ads/'+val.images.replace(/'/g, '').replace('[','').replace(']','').replace(' ','').split(',')[0];
		else
			image_name="test.jpg"

		item_sub_slide =
		'<div class="clearfix">'+
		'<div class="item-sub-banner">'+
		'<div class="product-thumb">'+
		// '<a href="#"><img class="wobble-horizontal" src="'+image_name+'" alt="تصویر تبلیغات" /></a>'+
		'</div>'+
		'<div class="product-info">'+
		'<h3 class="product-title text-capitalize"><a href="#">'+val.title+'</a></h3>'+
		'<strong class="color">تا '+ToPersian(val.product.items[0].discount)+' درصد تخفیف</strong>'+
		'</div>'+
		'</div>'+
		'</div>';

		$('.sub-ads-slider').append(item_sub_slide);
	});
});

$.getJSON( "{{url_for('sitetodayevents')}}", function( data ) {
	$.each( data[0], function( key, val ) {
		deadline = new Date(val.end_date).format("yyyy-M-d hh:mm:ss TT","UTC");
		item_event =
		'<div class="intro-countdown">'+
		'<h2 class="title30">'+val.title+
		'<strong class="color"> '+ToPersian(val.discount)+'٪ </strong> '+val.description+' <span class="color">محدود</span></h2>'+
		'<div class="deals-cowndown" data-date="'+deadline+'"></div>'+
		'</div>';
		$('.events_container').append(item_event);
	});
	if($('.deals-cowndown').length>0){
		$(".deals-cowndown").TimeCircles({
			fg_width: 0.01,
			bg_width: 1.2,
			text_size: 0.07,
			circle_bg_color: "#ffffff",
			time: {
				Days: {
					show: true,
					text: "روز",
					color: "#f9bc02"
				},
				Hours: {
					show: true,
					text: "ساعت",
					color: "#f9bc02"
				},
				Minutes: {
					show: true,
					text: "دقیقه",
					color: "#f9bc02"
				},
				Seconds: {
					show: true,
					text: "ثانیه",
					color: "#f9bc02"
				}
			}
		});
	}
});

$.getJSON( "{{url_for('sitetodayauctions')}}", function( data ) {
	$.each( data[0], function( key, val ) {
		deadline = new Date(val.end_date).format("yyyy-M-d hh:mm:ss TT","UTC");
		item_auction =
			'<div class="col-md-4 col-sm-6 col-xs-12">'+
			'<div class="banner-flash">'+
			'<div class="banner-zoom">'+
			'<a href="#" class="thumb-zoom"><img src="static/images/theme/ad1.jpg" alt="" /></a>'+
			'<div class="flash-label">'+
			'<span class="text-uppercase white">'+ToPersian(val.participants.length)+' از '+ToPersian(val.max_members)+'</span>'+
			'</div>'+
			'<div class="flash-label right-time">'+
			'<span class="text-uppercase white"><div class="flash-countdown" data-date="'+deadline+'"></div></span>'+
			'</div>'+
			'</div>'+
			'<div class="flash-info">'+
			'<ul class="list-none clearfix">'+
			'<li>'+
			'<div class="flash-timer">'+
			'<p> '+val.name+' </p>'+
			'</div>'+
			'</li>'+
			'<li>'+
			'<div class="flash-timer">'+
			'{% if current_user.is_authenticated %}'+
			'<a href="/participate" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>شرکت در حراجی</span></a>'+
			'{% else %}'+
			'<a href="/ilogin" class="quickview-link fancybox.iframe btn-rect white bg-color radius"><span>ورود</span></a>'+
			'{% endif %}'+
			'</div>'+
			'</li>'+
			'<li>'+
			'<div class="info-pro-hotdeal">'+
			'<div class="deal-percent">'+
			'<span>شروع حراجی:</span>'+
			'<span> '+ToPersian(formatCurrency(val.register_price))+' </span>'+
			'</div>'+
			'<div class="product-price">'+
			'<label>قیمت محصول:</label>'+
			'<ins><span>'+ToPersian(formatCurrency(val.item.price))+'</span></ins>'+
			'</div>'+
			'</div>'+
			'</li>'+
			'</ul>'+
			'</div>'+
			'</div>'+
			'</div>';
		$('.auctions_container').append(item_auction);
	});
	if($('.flash-countdown').length>0){
		$(".flash-countdown").TimeCircles({
			fg_width: 0.01,
			bg_width: 1.2,
			text_size: 0.07,
			circle_bg_color: "#ffffff",
			time: {
				Days: {
					show: false,
					text: "",
					color: "#f9bc02"
				},
				Hours: {
					show: true,
					text: "",
					color: "#f9bc02"
				},
				Minutes: {
					show: true,
					text: "",
					color: "#f9bc02"
				},
				Seconds: {
					show: true,
					text: "",
					color: "#f9bc02"
				}
			}
		});
	}
});

$.getJSON( "{{url_for('sitemostpopularauctions')}}", function( data ) {
	$.each( data[0], function( key, val ) {

		if(val.item.product.images)
			image_name = val.item.product.images.replace(/'/g, '').replace('[','').replace(']','').replace(' ','').split(',')[0];

		item_mostpopular_auction =
			'<div class="item-pro-hotdeal">'+
			'<div class="product-thumb">'+
			'<a href="#" class="product-thumb-link">'+
			'<img src=static/images/custom/'+image_name+' alt="">'+
			'</a>'+
			'<a href="/instantview/'+val.id+'" class="quickview-link pos-bottom fancybox.iframe"><span>مشاهده سریع</span></a>'+
			'</div>'+
			'<div class="product-info">'+
			'<h3 class="product-title"><a href="#">'+val.name+'</a></h3>'+
			'<div class="info-pro-hotdeal">'+
			'<div class="deal-percent">'+
			'<span>شروع حراجی:</span>'+
			'<span>'+ToPersian(formatCurrency(val.register_price))+'</span>'+
			'</div>'+
			'<div class="product-price">'+
			'<del><span>قیمت محصول</span></del>'+
			'<ins><span>'+ToPersian(formatCurrency(val.item.price))+'تومان</span></ins>'+
			'</div>'+
			'</div>'+
			'<div class="product-extra-link2">'+
			'{% if current_user.is_authenticated %}'+
			'<a href="/participate" class="addcart-link quickview-link fancybox.iframe">شرکت در حراجی</a>'+
			'<a href="#" class="wishlist-link"><i class="fa fa-heart" aria-hidden="true"></i></a>'+
			'{% else %}'+
			'<a href="/ilogin" class="addcart-link quickview-link fancybox.iframe"><span>ورود</span></a>'+
			'{% endif %}'+
			'</div>'+
			'</div>'+
			'</div>';

		$('.mostpopular_auctions_container').append(item_mostpopular_auction);
	});

});

</script>
{% endblock scripts %}
