{% extends 'site/layout.html' %}
{% block title %} ورود به سایت {% endblock %}
{% block content %}

<div class="content-page woocommerce">
	<div id="app" class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title-shop-page">حساب کاربری</h2>
				<div class="register-content-box">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-ms-12">
							<div class="check-billing">
								<div class="form-my-account">
									<div class="alert alert-danger error_alert hide">
										<a href="#" class="close" aria-label="close">×</a>
										<div class="error_container"></div>
									</div>
									<div class="alert alert-success alert-dismissable success_alert hide">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
										<div class="success_container"></div>
									</div>
									<form @submit.prevent="handleSubmit">

										<h2 class="title24 title-form-account">ورود</h2>
										<p>
											<label for="username">نام کاربری<span class="required">*</span></label>
											<input v-model="loginInformation.username" type="text" name="username"/>
										</p>
										<p>
											<label for="password">رمز عبور <span class="required">*</span></label>
											<input v-model="loginInformation.password" type="password" name="password"/>
										</p>
										<p>
											<input type="submit" class="register-button" name="login" value="ورود">
										</p>
										<div class="table create-account">
											<div class="text-left">
												<p>
													<input v-model="loginInformation.remember_me" type="checkbox"  id="remember" /> <label for="remember">مرا به خاطر بسپار</label>
												</p>
											</div>
											<div class="text-right">
												<a href="#" class="color">رمز عبور خود را فراموش کرده اید؟</a>
											</div>
										</div>
										<!-- <h2 class="title18 social-login-title">یا از طریق زیر وارد شوید</h2> -->
										<!-- <div class="social-login-block table text-center">
											<div class="social-login-btn">
												<a href="#" class="login-fb-link">Facebook</a>
											</div>
											<div class="social-login-btn">
												<a href="#" class="login-goo-link">Google</a>
											</div>
										</div> -->
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-ms-12">
							<div class="check-address">
								<div class="form-my-account check-register text-center">
									<h2 class="title24 title-form-account">ثبت نام کنید!</h2>
									<p class="desc">
											ثبت نام در یونی بید به شما اجازه می دهد در حراجی ها شرکت کنید و به وضعیت و تاریخ سفارش خود دسترسی داشته باشید. فقط فیلدهای مربوطه را پر کنید و در هر زمان یک حساب جدید برای خود ایجاد کنید. ما فقط از شما برای اطلاعاتی که لازم است تا فرایند خرید را سریع تر و آسان تر خواهد کرد پرسیده ایم .
									</p>
										<a v-if="next!='None'" href="/register?next={{next}}" class="shop-button">هم اکنون ثبت نام کنید!</a>
										<a v-else href="/register" class="shop-button">هم اکنون ثبت نام کنید!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{url_for('static',filename='js/libs/progressbar.min.js')}}"></script>

<script>

var app = new Vue({

  el: '#app',

  data:{
		loginInformation :{
			username : "",
			password : "",
			remember_me :0,
		},
		next : "{{next}}",

		verification:{
			mobile : null,
			code : "",
			attempts : 0,
		}

	},
	mounted:function(){
		console.log(this.next);
	},
	methods:{
		handleSubmit: function(){
			self = this;
			var obj = self.loginInformation;

      for (var propName in obj) {
        if (obj[propName] === "null" || obj[propName] === undefined || obj[propName]==="" || obj[propName]===-1) {
          delete obj[propName];
        }
      }
			axios.post("{{url_for('userlogin')}}",obj,
				{
					headers:
					{
						'Content-Type': 'application/json'
					}
				}).then(function (response) {
          //handle success
					$(".error_alert").addClass('hide');
					$(".success_alert").removeClass('hide');
					$(".success_container").html('ورود شما با موفقیت انجام ')
					if(self.next!="None"){
							window.location = self.next;
						}
						else {
						window.parent.location.reload();
					}
         })
         .catch((error)=>{
					 console.log(error.response.data.message);
					 if (error.response.data.message.operation == "verification_required"){
						 swal({
		           title: 'فعال سازی حساب کاربری',
		           text: "حساب کاربری شما فعال نیست. لطفا جهت دریافت و ورود کد فعال سازی یکبارمصرف خود عملیات فعال سازی را انجام دهید!",
							 type: 'warning',
		           showCancelButton: true,
		           confirmButtonText: 'عملیات فعال سازی!',
		           cancelButtonText: 'بی خیال...!',
		           confirmButtonColor: '#3085d6',
		           cancelButtonColor: '#d33',
		           reverseButtons: true
		         }).then((result) => {
		           if (result.value) {

		             axios.put("{{url_for('userverification')}}",
		               {
		                 headers:
		                 {
		                   'Content-Type': 'application/json'
		                 }
		               }).then((response) => {
										 console.log(response.data);
										 var remained_seconds = response.data.remained_to_expire;

										 axios.get("{{url_for('userverification')}}")
											 .then((response) => {
												 console.log(response.data);
												 if(response.data.send_attempts > 0){

													 swal({
							 						  title: 'فعال سازی حساب کاربری',
							 							type: "info",
							 							showCancelButton: true,
							 							showLoaderOnConfirm: true,
							 							html:
							 							'لطفا کد فعال سازی که برای شما پیامک شده است را در کادر زیر وارد کنید : <br>'+
							 							'<input id="verification_code" type="number" " maxlength="4" size="4"><br>'+
							 							'توجه کنید کد فعال سازی شما تا یک دقیقه معتبر است!'+
							 							'<div id="progress"></div>'+
														'<span>حداکثر '+ToPersian(response.data.send_attempts) +' بار دیگر می توانید کد فعال سازی را درخواست کنید </span>'
														// 	'<div><input type="button" id="resend_activation_code" class="activation_button" value=" ارسال مجدد ! حداکثر'+ToPersian(response.data.send_attempts)+' فرصت دارید! "></div>'
							 							,
							 							preConfirm: (verify) => {
															this.verification.code = $("#verification_code").val();

															var obj = this.verification;

												      for (var propName in obj) {
												        if (obj[propName] === "null" || obj[propName] === undefined || obj[propName]==="" || obj[propName]===-1) {
												          delete obj[propName];
												        }
												      }

															axios.post("{{url_for('userverification')}}",obj,
																{
																	headers:
																	{
																		'Content-Type': 'application/json'
																	}
																}).then(function (response) {
																	swal(
																		'فعال سازی حساب کاربری',
																		response.data.message.message,
																		'success'
																	)
																 })
																 .catch((error)=>{
																	 if (error.response.data.message.error){
																		 swal(
										                   'مشکلی پیش اومد',
										                   error.response.data.message.error,
										                   'error'
										                 )
																	 }
																	else {
																		swal(
																			'مشکلی پیش اومد',
																			error.response.data.message.code,
																			'error'
																		)
																	}
																	 console.log(error.response.data);
																});

							 					  	},
							 							allowOutsideClick: () => !swal.isLoading(),
							 						}).then((result) => {
							 							if (result.value) {
							 							    swal({
							 							      title: "فعال سازی حساب کاربری",
							 							      text:response.data.message.message,
																	type:"success",
																	confirmButtonText: 'حله...',
							 							    })
							 						  	}
							 						});

												 }
												 else {
													 swal({
														title: 'فعال سازی حساب کاربری',
														type: "info",
														showCancelButton: true,
														showLoaderOnConfirm: true,
														html:
														'لطفا کد فعال سازی که برای شما پیامک شده است را در کادر زیر وارد کنید : <br>'+
														'<input id="verification_code" type="number" " maxlength="4" size="4"><br>'+
														'توجه کنید کد فعال سازی شما تا یک دقیقه معتبر است!'+
														'<div id="progress"></div>'+
														'<span> این فرصت آخر شما برای فعال سازی حساب کاربری است </span>'
														,
														preConfirm: (verify) => {
															this.verification.code = $("#verification_code").val();

															var obj = this.verification;

															for (var propName in obj) {
																if (obj[propName] === "null" || obj[propName] === undefined || obj[propName]==="" || obj[propName]===-1) {
																	delete obj[propName];
																}
															}

															axios.post("{{url_for('userverification')}}",obj,
																{
																	headers:
																	{
																		'Content-Type': 'application/json'
																	}
																}).then(function (response) {
																	console.log(response.data);
																 })
																 .catch((error)=>{
																	 if (error.response.data.message.error){
																		 swal(
										                   'مشکلی پیش اومد',
										                   error.response.data.message.error,
										                   'error'
										                 )
																	 }
																	else {
																		swal(
																			'مشکلی پیش اومد',
																			error.response.data.message.code,
																			'error'
																		)
																	}
																	 console.log(error.response.data);
																});

														},
														allowOutsideClick: () => !swal.isLoading(),
													}).then((result) => {
														if (result.value) {
																swal({
																 title: "فعال سازی حساب کاربری",
																 text:response.data.message.message,
																 type:"success",
																 confirmButtonText: 'حله...',
															 })
															}
													});
												 }

						 						applyswl(remained_seconds);

											 })
											 .catch((error)=>{
												 swal(
													'مشکلی پیش اومد',
													error.response.data.message.error,
													'error'
												)
											 });

		               })
		               .catch((error)=>{
		                 swal(
		                   'مشکلی پیش اومد',
		                   error.response.data.message.error,
		                   'error'
		                 )
		               });
		           } else if (result.dismiss === swal.DismissReason.cancel) {
		             swal({
		               title:'دریافت کد فعال سازی کنسل شد!',
		               text:'جهت استفاده ازامکانات سایت نیاز به فعال سازی حساب کاربری خود دارید',
		               type:'error',
		               confirmButtonText: 'صلاح مملکت خویش خسروان دانند...',
									 confirmButtonColor: '#d33',
		             });
		           }
		         });
					 }else {
						 $(".error_alert").removeClass('hide');
						 for (var propName in error.response.data.message) {
							 $(".error_container").html(error.response.data.message[propName])
						 }
					 }
 				});
		}
	}
});

// $(document).on('click','#resend_activation_code',function(){
// 	bar.set(1);
// 	bar.animate(0);
// });

var bar = null;
function applyswl(remained) {
	bar = new ProgressBar.Line(progress, {
	  color: '#000',
	  strokeWidth: 10,
	  trailWidth: 10,
	  easing: 'linear',
	  duration: remained * 1000,
	  from: { color: '#000', width: 15 },
	  to: { color: '#fff', width: 15},
	  step: function(state, circle) {
	    circle.path.setAttribute('stroke', state.color);
	    circle.path.setAttribute('stroke-width', state.width);

	    var value = Math.round(circle.value() * remained);
	    if (value < 10) {
	      circle.setText(ToPersian('0'+value));
	    } else {
	      circle.setText(ToPersian(value));
	    }

	  }
	});
	bar.set(1);
	bar.animate(0);
}

$('.close').on('click',function(event){
	event.preventDefault();
	$(this).parent().removeClass('show').addClass('hide');
});
</script>
{% endblock scripts %}
