{% extends 'site/layout.html' %}
{% block title %} بیدبازی | ثبت نام {% endblock %}
{% block content %}
<div class="content-page woocommerce">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="title-shop-page">حساب کاربری</h2>
				<div class="register-content-box">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-ms-12">
							<div class="check-billing">
								<div class="form-my-account">
									<div class="alert alert-danger error_alert hide">
										<a href="#" class="close" aria-label="close">×</a>
										<div class="error_container"></div>
									</div>
									<div class="alert alert-success alert-dismissable success_alert hide">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
										<div class="success_container"></div>
									</div>
									<form id="register_form">
										<h2 class="title24 title-form-account">ثبت نام</h2>
										<p>
											<label for="username">نام کاربری <span class="required">*</span></label>
											<input type="text" name="username" />
										</p>
										<p>
											<label for="password"> تلفن همراه <span class="required">*</span></label>
											<input name="mobile" type="number"/>
										</p>
										<p>
											<label for="password">رمز عبور <span class="required">*</span></label>
											<input name="password" type="password" />
										</p>
										<p>
											<label for="password">تکرار رمز عبور <span class="required">*</span></label>
											<input name="c_password" type="password"/>
										</p>
										<p>
											<input type="submit" class="register-button" name="register" value="ثبت نام">
										</p>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-ms-12">
							<div class="check-address">
								<div class="form-my-account check-register text-center">
									<h2 class="title24 title-form-account">ثبت نام کنید!</h2>
									<p class="desc">
											ثبت نام در بیدبازی به شما اجازه می دهد در حراجی ها شرکت کنید و به وضعیت و تاریخ سفارش خود دسترسی داشته باشید. فقط فیلدهای مربوطه را پر کنید و در هر زمان یک حساب جدید برای خود ایجاد کنید. ما فقط از شما برای اطلاعاتی که لازم است تا فرایند خرید را سریع تر و آسان تر خواهد کرد پرسیده ایم .
									</p>
									<a href="{{ '\login' }}" class="shop-button">ورود به حساب کاربری</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>

$( "#register_form" ).submit(function( event ) {
	event.preventDefault();
	var $form = $( this );
	var data = getFormData($form);
	var url = "{{url_for('userregistration')}}";
	var posting = $.post( url, data);
	posting.done(function( data ) {
		$(".error_alert").addClass('hide');
		$(".success_alert").removeClass('hide');
		$(".success_container").html('ثبت نام شما با موفقیت انجام شد')
		window.location.href = '/login';
	});
	posting.fail(function(xhr, status, error) {
		obj = JSON.parse(xhr.responseText);
		$.each(obj.message, function (key, item) {
			$(".error_alert").removeClass('hide');
			$(".error_container").html(item)
			});
		});
});

</script>
{% endblock scripts %}
